.theme-bounty .nivoSlider {
	height: 65px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
}
.theme-bounty .nivo-caption {
	height: 0px;
}
.theme-bounty .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-bounty .nivoSlider a {
	border:0;
	display:block;
}

.theme-bounty .nivo-controlNav {
	position: absolute;
	left: 45%;
	bottom: -20px;
}
.theme-bounty .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-bounty .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-bounty .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-bounty a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-bounty a.nivo-prevNav {
	left:15px;
}
#slider {
    background: url("../images/slideshow1.png") no-repeat scroll 0 0;
    height: 65px;
    position: relative;
    width: 1000px;
    margin:20px auto;
}
