html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
}
 
article,aside,figure,footer,header,hgroup,nav,section {
    display:block;
}

img,object,embed {
    max-width:100%;
}

ul {
    list-style:none;
}

blockquote,q {
    quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:none;
}

a {
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
}

del {
    text-decoration:line-through;
}

abbr[title],dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

body {
    line-height:1;
    background:#fff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:400;
    color:#000;
    outline:0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

th {
    font-weight:700;
    vertical-align:bottom;
}

td {
    font-weight:400;
    vertical-align:top;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

input,select {
    vertical-align:middle;
}

input[type="image"] {
    margin-top:7px;
    float:right;
}

input[type="checkbox"] {
    vertical-align:bottom;
}

select,input,textarea {
    font:99% sans-serif;
}

small {
    font-size:85%;
}

td,td img {
    vertical-align:top;
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
}

sup {
    top:-.5em;
}

sub {
    bottom:-.25em;
}

pre,code,kbd,samp {
    font-family:monospace, sans-serif;
}

button,input,select,textarea {
    margin:0;
}

button {
    width:auto;
    overflow:visible;
}

a,img a,img,a img {
    border:0;
    outline:0;
    text-decoration:none;
}

.clearfix:before,.clearfix:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
}

.clrflt {
    clear:both;
    line-height:1px;
    font-size:1px;
    overflow:hidden;
}

.header_top_wrap {
    width:100%;
    background:#0083a4;
    height:34px;
}

.header_top {
    width:1008px;
    position:relative;
    margin:0 auto;
}

#join_message_wrapper {
    float:right;
    margin-top:10px;
    color:#B10000;
    font-weight:700;
}

.feedback {
    position:absolute;
    left:-3px;
    top:0;
    height:49px;
    width:300px;
}

#terms_link {
    margin-top:15px;
}

.top_right {
    float:right;
    width:auto;
}

.email {
    width:auto;
    line-height:28px;
    float:left;
    margin-right:15px;
    padding-bottom:4px;
    font-size:14px;
    color:#fff;
    text-shadow:#77bdce 1px 0 0;
}

.email a img {
    vertical-align:bottom;
    margin-top:1px;
    margin-right:3px;
    border:1px solid #B3BDBF;
}

.top_nav {
    width:auto;
    float:right;
}

.top_nav ul li {
    font-size:14px;
    color:#fff;
    text-shadow:#77bdce 1px 0 0;
    float:left;
    line-height:34px;
    background:url(/static/images/nav_sep.jpg) no-repeat left center;
    padding:0 14px;
}

.top_nav ul li.first {
    background:none;
}

.top_nav ul li a {
    color:#fff;
}

.top_nav ul li a:hover,.top_nav ul li.active a {
    color:#8dc63f;
}

.header_wrap {
    width:100%;
    background:url(/static/images/header_bg.jpg) repeat-x left top;
    background-color:#EBEBEB;
    height:248px;
}

.header_wrap_individual {
    width:100%;
    background:url(/static/images/header_bg_individual.jpg) repeat-x left top;
    background-color:#EBEBEB;
    height:100px;
}

.header {
    width:1008px;
    margin:0 auto;
    padding:36px 0 0;
}

.header_individual {
    width:1008px;
    margin:0 auto;
    padding:15px 0 0;
}

.txt_box {
    height:100px;
    width:242px;
    float:left;
    background:url(/static/images/header_border.jpg) no-repeat right top;
    padding-right:36px;
}

.txt_box img {
 
    margin-top:50px;
}

.icon_box {
    width:238px;
}

.icon_box a {
    display:block;
    padding-left:82px;
    height:25px;
    text-align:right;
    line-height:25px;
    font-size:11px;
    color:#9b9b9b;
    float:left;
    font-weight:700;
    margin-right:14px;
}

.icon_box a.fb {
    background:url(/static/images/icon1.png) no-repeat left top;
}

.icon_box a.tweet {
    background:url(/static/images/icon2.png) no-repeat left top;
    margin:0;
}

.icon_box a span {
    display:block;
    padding-right:7px;
    background:url(/static/images/curve.png) no-repeat right top;
}

.coder_bounty {
    width:423px;
    padding-left:75px;
    padding-right:82px;
    float:left;
    background:url(/static/images/header_border.jpg) no-repeat right top;
    text-align: center;
}

.coder_bounty h1 {
    font-size: 32px;
    color: #8DC63F;
}

.logo {
    margin-bottom:4px;
}

.txt_field {
    background:url(/static/images/txt_field_bg.png) no-repeat left top;
    height:41px;
    line-height:29px;
    width:393px;
    font-size:16px;
    color:#bcbcbc;
    margin-bottom:6px;
    border:none;
    padding:0 10px;
}

.bounty {
    height:41px;
    line-height:41px;
    width:120px;
    font-size:20px;
    color:#4c4c4c;
    margin-right:16px;
    margin-left:3px;
    float:left;
}

.bounty.time_limit {
    width:142px;
}

.button {
    background:url(/static/images/button.jpg) no-repeat left top;
    width:59px;
    height:40px;
    font-size:20px;
    line-height:40px;
    color:#fff;
    text-align:center;
    padding-right:5px;
    float:left;
    cursor:pointer;
}


button {
    margin-bottom: 3px;

}
/*    padding: .5em;
    margin-bottom: 3px;
    width: 10em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border: solid thin #882d13;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    border-radius: .7em;
    -webkit-box-shadow: 2px 2px 3px #999; 
    box-shadow: 2px 2px 2px #bbb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
}*/

button span {
    vertical-align: top;
    line-height: 30px;
}

.btn-github {
margin-left: 60px;
    -webkit-box-shadow: 2px 2px 3px #999; 
    box-shadow: 2px 2px 2px #bbb;
        -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    border-radius: .7em;
    border: solid thin #882d13;
    border-color: #d4d4d4;
    background: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.btn-github:hover,
.btn-github:focus {
    border-color: #518cc6;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -webkit-linear-gradient(#599bdc, #3072b3);
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -ms-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}


.circle {
    width:42px;
    height:42px;
    float:left;
}

.logos {
    width:118px;
    float:right;
}

.logos img {
    margin-bottom:20px;
}

.logos img.extra {
    margin-bottom:10px;
}

.coder_bounty #message {
    font-size:16px;
    color:#b10000;
    text-align:center;
    line-height:34px;
}

.text_box {
    width:1008px;
    text-align:center;
    margin:0 auto;
    padding:12px 0 12px;
}

.navbar_outer {
    width:100%;
    background:url(/static/images/navbar_shadow.png) no-repeat center bottom;
    padding-bottom:10px;
}

.navbar_wrap {
    width:100%;
    background:url(/static/images/navbar_bg.jpg) repeat-x left top;
    height:55px;
    background-color:#FBFBFB;
}

.menu {
    width:auto;
    float:left;
    padding-top:7px;
}

.menu ul li {
    font-size:16px;
    color:#fff;
    line-height:40px;
    float:left;
    background:url(/static/images/menu_left_bg.jpg) no-repeat left;
    display:block;
    margin-right:2px;
}

.menu ul li a {
    color:#fff;
    text-decoration:none;
    background:url(/static/images/menu_right_bg.jpg) no-repeat right;
    display:block;
    padding:0 20px;
}

.about p {
    margin-bottom:20px;
    font-size:16px;
}

.menu ul li:hover,.menu ul li.active {
    background:url(/static/images/menu_lft_hover.jpg) no-repeat left;
    display:block;
}

.menu ul li a:hover,.menu ul li.active a {
    color:#fff;
    background:url(/static/images/menu_hover_right.jpg) no-repeat right;
    display:block;
}

.form {
    width:390px;
    float:right;
    padding-top:5px;
}

#loginForm a {
    color:#AAA;
    padding-top:11px;
    float:right;
}

.search_box {
    width:204px;
    float:left;
}

.search_field {
    background:url(/static/images/txt_field2_bg.jpg) no-repeat left top;
    height:41px;
    line-height:20px;
    width:143px;
    font-size:18px;
    color:#4c4c4c;
    border:none;
    float:left;
    padding:0 10px;
}

.search_button {
    float:left;
    background:url(/static/images/search_button.jpg) no-repeat left top;
    height:41px;
    width:37px;
    border:none;
}

.list {
    float:right;
    width:177px;
    line-height:42px;
    font-size:18px;
    color:#4c4c4c;
}

.center_box {
    width:341px;
    height:21px;
    position:relative;
    top:-10px;
    display:none;
    text-align:center;
    z-index:-9999;
    background:url(/static/images/center_box_bg.jpg) no-repeat left top;
    margin:0 auto;
    padding:8px 0 0 11px;
}

.center_box p {
    padding-left:22px;
    font-size:13px;
    color:#4b4b4b;
}

.center_box p span {
    color:#8dc63f;
}

.content_area {
    border-bottom:1px solid #e2e2e3;
    padding:14px 25px 14px 0;
}

.content_area.nobg {
    border-bottom:none;
    padding:14px 25px 30px 0;
}

.content_area_left {
    width:206px;
    float:left;
    position:relative;
    padding:10px 0 0;
}

.left_top {
    margin-bottom:6px;
}

.left_top .frame {
    float:left;
    width:87px;
    background:url(/static/images/frame2.jpg) no-repeat center bottom;
    margin-right:10px;
    padding-bottom:4px;
}

.left_top p {
    font-size:30px;
    font-weight:700;
    padding-bottom:8px;
}

.left_top p a {
    color:#8dc63f;
    display:block;
   
}

.list1 {
    float:right;
    width:107px;
    line-height:29px;
    font-size:16px;
    color:#4c4c4c;
    position:relative;
    z-index:100;
    padding:0;
}

.girl_box {
    float:left;
    width:68px;
}

.girl_box h2 {
    font-size:15px;
    color:#4b4b4b;
    padding-bottom:6px;
}

.girl_box span {
    float:right;
    font-size:15px;
    color:#4b4b4b;
    font-weight:700;
}

.left_bottom {
    width:215px;
    float:left;
}

.left_bottom.width {
    width:204px;
}

.left_but {
    font-size:16px;
    color:#8dc63f;
    font-weight:700;
    border:1px solid #dedede;
    width:67px;
    height:21px;
    line-height:21px;
    text-align:center;
    float:left;
    margin-bottom:9px;
    margin-right:33px;
}

.left_but.color {
    color:#a90000;
    margin-right:26px;
}

.left_but.but2 {
    font-size:16px;
    color:#4bafef;
    font-weight:700;
    border:1px solid #dedede;
    width:87px;
    height:21px;
    line-height:23px;
    text-align:center;
    float:left;
    margin-bottom:9px;
    margin-right:13px;
}

.left_bottom span {
    font-size:16px;
    color:#4c4c4c;
    float:left;
    line-height:23px;
}

.left_bottom strong {
    font-size:16px;
    color:#4c4c4c;
    background:url(/static/images/eye_img.jpg) no-repeat left center;
    padding-left:32px;
}

.left_bottom strong a {
    color:#4c4c4c;
}

.left_bottom strong.img2 {
    background:url(/static/images/eye_img2.jpg) no-repeat left center;
}

.left_bottom strong.img3 {
    background:url(/static/images/eye_img3.jpg) no-repeat left center;
}

.content_area_right {
    width:448px;
    float:right;
    padding-top:8px;
}

.content_area_right h2 {
    font-size:22px;
    color:#4b4b4b;
    padding-bottom:14px;
}

.content_area_right a:hover {
    color:#ababab;
}

.content_area_right h3 {
    font-size:18px;
    color:#4b4b4b;
    padding-bottom:10px;
    font-weight:400;
}

.content_area_right p {
    font-size:16px;
    color:#4b4b4b;
    line-height:18px;
}

.loader {
    width:31px;
    height:31px;
    margin:0 auto;
    padding:0 0 16px;
}

.footer_wrap {
    background:#0083a4;
    width:100%;
    height:22px;
}

.bounties {
    display:none;
    position:absolute;
    right:-168px;
    bottom:128px;
    z-index:101;
    padding:3px 0 0;
}

.bountyTop {
    background:url(/static/images/bountyTop.png) no-repeat center top;
    height:21px;
    line-height:21px;
}
.leaderboard {
    width:234px;
    padding:24px 0 0;
}
.leaderboardTop {
    background:url(/static/images/bountyTop.png) no-repeat center top;
    height:21px;
    line-height:21px;
}

.leaderboardMiddle {
    background:url(/static/images/bountyMiddle.png) repeat-y center top;
    padding-top:8px;
    padding-bottom:8px;
}

.leaderboardBottom {
    background:url(/static/images/leaderboardBottom.png) no-repeat center bottom;
    height:9px;
}

.bounties h2, .leaderboard h2 {
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
}

.bountyMiddle {
    background:url(/static/images/bountyMiddle.png) repeat-y center top;
    padding-top:8px;
    padding-bottom:8px;
}

.bountyBottom {
    background:url(/static/images/bountyBottom.png) no-repeat center bottom;
    height:18px;
}

.bounties_area {
    width:213px;
    margin-left:16px;
    padding-bottom:4px;
}
.leaderboard_area {
    width:213px;
    margin-left:16px;
    font-size: 18px;
    color: #4B4B4B;
    border-collapse: inherit;
    border-spacing:5px 5px;
}

.leaderboard_area td, td img {
    vertical-align:middle;
}

.leaderboard_area th {
    text-align: left;
}

.bounties_area span {
    font-size:14px;
    color:#8DC63F;
    float:left;
    font-weight:700;
}

.bounties_area img {
    float:left;
    padding-left:15px;
}

.bounties_area p {
    font-size:14px;
    color:#4b4b4b;
    float:left;
    padding-left:4px;
}

.search_area {
    display:none;
    position:absolute;
    right:-305px;
    top:44px;
    background:url(/static/images/select_area_bg.png) no-repeat left top;
    width:278px;
    height:42px;
    padding-left:26px;
    padding-top:5px;
}

.list2 {
    float:left;
    width:137px;
    line-height:29px;
    font-size:16px;
    color:#4c4c4c;
}

.add_but {
    float:left;
    margin-left:3px;
    width:114px;
    line-height:29px;
    font-size:18px;
    color:#fff;
    text-align:center;
    background:url(/static/images/add_but.jpg) no-repeat left top;
}

.watch {
    display:none;
    position:absolute;
    bottom:-45px;
    left:65px;
    background:url(/static/images/watch_bg.png) no-repeat left top;
    width:157px;
    height:93px;
    padding-top:3px;
    z-index:10;
}

.watch h2 {
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    padding-bottom:16px;
}

.form2 {
    padding-left:35px;
}

.radio_button {
    border:none;
    float:left;
    margin-bottom:3px;
}

.label {
    float:left;
    color:#4b4b4b;
    font-size:14px;
    padding-left:10px;
    font-weight:700;
}

.top_box_wrap {
    background:#0083a4;
    height:28px;
}

.top_box {
    width:600px;
    margin:0 auto;
}

.top_box h2 {
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    text-shadow:#77bdce 1px 0 0;
    line-height:28px;
    font-weight:400;
}

.form_box {
    width:600px;
    margin:0 auto;
    padding:48px 0 0;
}

.profile_form_box {
    width:300px;
    float:left;
    margin:0 auto 0 30px;
    padding:13px 0 0;
}

.profile_border {
    margin-top:40px;
}

.payment_wrapper {
    border:1px solid #e6e1dc;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
}

.profile_image {
    margin-left:22px;
    border:1px solid #e6e1dc;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.login_info {
    padding-bottom:13px;
}

.email_box {
    width:230px;
    float:left;
    padding-bottom:7px;
}

.profile_box {
    width:195px;
    float:left;
    padding-bottom:7px;
}

.profile_box a {
    color:#05A7A9;
    float:right;
    margin-top:-16px;
    margin-left:26px;
}

.profile_box span {
    color:#8DC63F;
    float:right;
    margin-top:-16px;
    margin-left:26px;
}

.verification_code {
    display:none;
    border:1px solid #05A7A9;
    color:#777;
}

.profile_form_label {
    color:#464646;
    padding-bottom:3px;
    padding-top:12px;
    display:block;
    text-transform:uppercase;
}

.password_box {
    width:230px;
    float:right;
}

.form_label2 {
    color:#505050;
    padding-bottom:5px;
    display:block;
    text-transform:none;
}

.form_label3 {
    float:left;
    line-height:25px;
    color:#505050;
}

.form_field.form_field2 {
    width:381px;
    float:right;
    margin-bottom:8px;
}

.city {
    width:168px;
    float:left;
    padding-bottom:12px;
}

.city.padd {
    padding-left:17px;
}

.zip_code {
    width:104px;
    float:right;
}

.form_field.form_field3 {
    width:144px;
}

.form_field.form_field4 {
    width:82px;
}

.form_field.form_field5 {
    width:41px;
}

.exp_box {
    width:165px;
    float:left;
}

.exp_box_txt {
    background:url(/static/images/list4.jpg) no-repeat left top;
    height:28px;
    line-height:28px;
    width:78px;
    color:#323232;
    font-size:14px;
    margin-bottom:16px;
}

.cvv {
    width:64px;
    float:left;
    padding-left:18px;
}

.checkbox {
    float:left;
    margin-right:9px;
    margin-bottom:25px;
}

.checkbox_txt {
    float:left;
    color:#323232;
}

.button1 {
    background:url(/static/images/button1.jpg) no-repeat left top;
    height:30px;
    width:85px;
    border:none;
    float:left;
    margin-right:5px;
}

.button2 {
    background:url(/static/images/button2.jpg) no-repeat left top;
    height:32px;
    width:89px;
    border:none;
    float:left;
}

#dialog-overlay {
    width:100%;
    height:100%;
    filter:alpha(opacity=75);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity:0.8;
    background:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:3000;
    display:none;
}

a.button, a.button-terms {
    position:absolute;
    display:block;
    background:url(/static/images/close_but.png) no-repeat left top;
    right:5px;
    top:8px;
    width:30px;
    height:31px;
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}

.main_popup {
    width:667px;
    padding-bottom:54px;
    background:#FFF;
}

.highlight {
    background-color:#0FF;
}

#message span.error {
    color:#B10000;
}

.fb-like {
    bottom:3px;
}

#login_message {
    padding-top:15px;
}

.user {
    float:left;
    padding-top:3px;
}

#login_message_wrapper {
    display:block;
    height:22px;
}

#message_wrapper {
    display:block;
    height:40px;
}

#facebook_button {
    float:left;
padding-top:7px;
display:inline;
width:100px;
height:30px;
}
#tweet_button {
    float:left;
padding-top:7px;
display:inline;
}


#facebook_like_button_holder iframe {
    position:absolute;
    top:0;
    width:90px!important;
    padding-left:24px;
}

#fake_facebook_button {
    pointer-events:none;
    position:absolute;
}

#terms-wrapper {
    height:300px;
    overflow:auto;
}

.c1 {
    color:#0084a0;
    font-size:9pt;
    text-decoration:underline;
}

.c8 {
    list-style-type:decimal;
    margin:0;
    padding:0;
}

.c11 {
    width:468pt;
    background-color:#fff;
    padding:72pt;
}

.c7 {
    padding-left:0;
    margin-left:54pt;
}

.c0 {
    height:11pt;
    direction:ltr;
}

.c4 {
    font-size:9pt;
    font-weight:700;
}

.c6 {
    text-decoration:inherit;
}

.c2 {
    direction:ltr;
}

.c3 {
    font-size:10pt;
}

.c5 {
    font-size:9pt;
}

.c10 {
    margin-left:12pt;
}

input[type="radio"],.ie6 input {
    vertical-align:text-bottom;
}

a:hover,a:active,input:focus {
    outline:none;
}

strong,th,.c9 {
    font-weight:700;
}

.clickable,label,input[type=button],input[type=submit],button,#login_link {
    cursor:pointer;
}

.fltleft,.girl_box img {
    float:left;
}

.fltright,.bounty_user {
    float:right;
}

.clearfix:after,.clear {
    clear:both;
}

#terms_link a,#message span.success,#message_wrapper strong {
    color:#0083A4;
}

.email a,.button a {
    color:#fff;
}

.navbar, .content {
    width:1008px;
    margin:0 auto;
}

#issues {
    width:765px;
}

.center_box p strong,.content_area_right a {
    color:#0083a4;
}

.profile_form_box h2,.form_box h2 {
    color:#840101;
    font-weight:400;
    padding-bottom:22px;
    text-transform:uppercase;
}

.login_info h2,.payment_info h2 {
    color:#05a7a9;
    padding-bottom:15px;
    font-weight:400;
    text-transform:uppercase;
}

.form_label,.join_form_label {
    color:#464646;
    padding-bottom:3px;
    padding-top:12px;
    float:left;
    display:block;
    text-transform:uppercase;
}

.form_field,.join_form_field {
    height:23px;
    width:185px;
    line-height:15px;
    border:1px solid #e6e1dc;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    padding:0 5px;
}

#dialog-box,#about-box,#shirt-box,#help-box,#terms-box,#profile-box {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background:url(/static/images/dialog-box_bg.png) repeat left top;
    width:667px;
    position:absolute;
    top:74px!important;
    z-index:5000;
    display:none;
    padding:16px;
}

#join-box {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background:url(/static/images/dialog-box_bg.png) repeat left top;
    width:240px;
    position:absolute;
    top:150px!important;
    z-index:4000;
    display:none;
    padding:16px;
}

.join_popup {
    padding:20px;
    width:200px;
    padding-bottom:30px;
    background:#FFF;
}
.tooltip,.join_tooltip {
    display:none;
    background:url(/static/images/login-box.png);
    height:163px;
    width:250px;
    position:absolute;
    right:0;
    top:0;
}

.tooltip form,.join_tooltip form {
    top:0;
    margin-left:30px;
    margin-right:23px;
}

#tooltip_wrapper,#join_tooltip_wrapper {
    display:none;
    height:163px;
    position:absolute;
    margin-top:34px;
    right:0;
    width:250px;
}

div.selectbox-wrapper {
    position:absolute;
    width:400px;
    background-color:#FFF;
    border:1px solid #ccc;
    text-align:left;
    max-height:140px;
    overflow:auto;
    font-size:16px;
    line-height:normal!important;
    z-index:999;
    margin:-10px 0 0 3px;
    padding:0;
}

div.selectbox-wrapper ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

div.selectbox-wrapper ul li.selected {
    background-color:#EFEFEF;
}

div.selectbox-wrapper ul li.current {
    background-color:#EBEBEB;
}

div.selectbox-wrapper ul li {
    list-style-type:none;
    display:block;
    cursor:pointer;
    margin:0;
    padding:2px 7px;
}

#bounty_container,#limit_container {
    font-size:20px;
}

.selectbox {
    display:block;
    text-align:left;
    cursor:pointer;
    border:0 solid #D1E4F6;
    margin-bottom:10px;
    width:97px;
    line-height:33px;
    height:29px;
    font-size:16px;
    color:#4c4c4c;
    background:url(/static/images/list1.jpg) no-repeat left top;
    z-index:999;
    padding:0 0 0 17px;
}

#bounty_input {
    background:url(/static/images/img1.jpg) no-repeat left top;
    height:41px;
    line-height:41px;
    width:113px;
    padding-left:11px;
    font-size:20px;
    color:#4c4c4c;
}

#limit_input {
    background:url(/static/images/img2.jpg) no-repeat left top;
    height:41px;
    line-height:41px;
    width:145px;
    padding-left:11px;
    font-size:20px;
    color:#4c4c4c;
}

#order_input {
    width:170px;
    line-height:42px;
    font-size:18px;
    height:42px;
    color:#4c4c4c;
    background:url(/static/images/img3.jpg) no-repeat left top;
    padding:0 0 0 11px;
}

#time_input {
    width:122px;
    line-height:29px;
    font-size:16px;
    height:29px;
    color:#4c4c4c;
    background:url(/static/images/list2.jpg) no-repeat left top;
    padding:0 0 0 15px;
}

#exp1_input,#exp2_input {
    background:url(/static/images/list4.jpg) no-repeat left top;
    height:28px;
    line-height:28px;
    width:64px;
    padding-left:14px;
    color:#323232;
    font-size:14px;
    margin-bottom:16px;
}

#card_input {
    background:url(/static/images/list3.jpg) no-repeat left top;
    height:25px;
    line-height:25px;
    width:215px;
    padding-left:14px;
    color:#323232;
    font-size:14px;
    margin-bottom:16px;
}

#scorebox {
    display: none;
    position: absolute;
    z-index: 9999;
    font-size:1px;
    color:#FDE42F;
    text-shadow: #4B4B4B 6px 6px 7px;
}

#search_form {
}

.ajax_loading {
    background-image: url("../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}
