appdirs==1.4.0
BeautifulSoup==3.2.1
cffi==1.5.2
click==6.7
cryptography==1.3.1
dj-database-url==0.4.0
Django==1.9.6
django-activity-stream==0.6.1
django-allauth==0.25.2
django-filter==0.13.0
django-postgrespool==0.3.0
django-selenium==0.9.8
djangorestframework==3.3.3
enum34==1.1.2
gunicorn==19.4.5
idna==2.1
ipaddress==1.0.16
Markdown==2.6.6
oauthlib==1.0.3
packaging==16.8
paypalrestsdk==1.11.5
Pillow==3.2.0
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
pyparsing==2.1.10
python-dotenv==0.6.2
python-openid==2.2.5
pytz==2016.3
requests==2.9.1
requests-oauthlib==0.6.1
rollbar==0.13.0
selenium==3.0.2
simplejson==3.8.2
six==1.10.0
slacker==0.9.24
SQLAlchemy==1.0.12
tweepy==3.5.0
wepay==0.3.2
whitenoise==3.0
pylibmc==1.5.1
django-pylibmc==0.6.1
