{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="section-login">
    <div class="wrapper-global grid">
        <div class="col-12 col-center">
            <section class="frame frame-dark-paper">
                <span class="bugfix-top"></span>

                <div class="frame-content">
                    <h1 class="titlebar-paper">
                        <span>{% trans "Sign In" %}</span></h1>

                    <div class="grid login-grid">

{% if socialaccount.providers  %}
                        <p class="login-intro">{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                        for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

                        <div class="socialaccount_ballot">
                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>

                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
                        <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

                        <form class="form form-login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            <div class="btn-login-wrapper">
                                <button class="primaryAction btn-login" type="submit">{% trans "Sign In" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <span class="bugfix-bottom"></span>
            </section>
        </div>
    </div>
<div>
{% endblock %}
