{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<style>
p {margin-bottom:10px;}
</style>
<div class="section-postBounty">
  <div class="wrapper-global grid">
    <div class="col-12 col-center">
      <section class="frame frame-dark-paper">
        <span class="bugfix-top"></span>
          <div class="frame-content">
            <h1 class="titlebar-paper"><span>{% trans "Sign Up" %}</span></h1>
                      
              <div class="grid login-grid">
                <div style="padding:100px; color:black;">
                <div id="signup_form">
                  <p class="login-intro">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="col-center">{% trans "Sign Up" %} &raquo;</button>
                  </form></div>

                </div>
              </div>
            </div>                   
                </section>
            </div>
        </div>
    </div>
{% endblock content %}


