{% extends "base.html" %}

{% block content %}

    <div class="profile_form_box">
        <form action="/profile/" method="post" id="profileForm">
            {% csrf_token %}
        <div class="profile_box"> 
            <label class="profile_form_label">username: *</label> 
            <input id="profile_username" value="{{user.username}}"type="text" class="form_field"/> 
        </div> 

        <div class="profile_box"> 
            <label class="profile_form_label">email: *</label> 
            <input id="profile_email" value="{{user.email}}" type="text"  class="form_field"/> 
        </div>  

        <div class="profile_box"> 
            <label class="profile_form_label">password: </label> 
            <input id="profile_password" value="" type="password"  class="form_field"/> 
        </div> 

        <div class="profile_box"> 
            <label class="profile_form_label">github username:</label> 
            {% if user.get_profile.github_username %}
            <span class='verified'>verified &#10003;</span>
            {% else %}
            <a href="" id="github">verify</a>
            {% endif %}
            <input type="text" class="form_field" value="{{user.get_profile.github_username}}"/>
            <input type="text" class="form_field verification_code"/>
        </div> 

        <div class="profile_box"> 
            <label class="profile_form_label">google code email:</label> 
            {% if user.get_profile.google_code_username %}
            <span class='verified'>verified &#10003;</span>
            {% else %}
            <a href="" id="google-code">verify</a>
            {% endif %}
            <input type="text" class="form_field" value="{{user.get_profile.google_code_username}}"/>
            <input type="text" class="form_field verification_code"/>
        </div>  

        <div class="profile_box"> 
            <label class="profile_form_label">bitbucket username: </label> 
            {% if user.get_profile.bitbucket_username %}
            <span class='verified'>verified &#10003;</span>
            {% else %}
            <a href="" id="bitbucket">verify</a>
            {% endif %}
            <input type="text" class="form_field" value="{{user.get_profile.bitbucket_username}}"/>
            <input type="text" class="form_field verification_code"/>
        </div>   

        <div class="profile_box"> 
            <label  class="profile_form_label">payment service: *</label> 
            <div class="payment_wrapper">
                <input id="payment_wepay" name="payment" type="radio"  value="wepay"  {% if user.get_profile.payment_service == "wepay" %}checked{% else %}{% if not user.get_profile.payment_service == "paypal" %}checked{% endif %}{% endif %}/>
                <img src="/static/images/wepay.jpg" width="70" height="35" style="vertical-align:middle; margin-right:5px;"/>

                <input id="payment_paypal" name="payment" type="radio"  value="paypal" {% if user.get_profile.payment_service == "paypal" %}checked{% endif %}/>
                <img src="/static/images/paypal.jpg" width="70" height="24" style="vertical-align:middle;"/>
            </div>
        </div>

        <div class="profile_box"> 
            <label class="profile_form_label">payment service email: </label> 
            <input value="{{ user.get_profile.payment_service_email }}" type="text" id="payment_service_email" class="form_field"/>
        </div>
        <div class="profile_box"> 
            <input type="image" src="/static/images/save.jpg" alt="Save" id="save_profile" style="float:left;"/>
        </div>
        </form>
    </div>

    <div class="profile_border" >
        <div>
            <img class="profile_image" src="{{user.get_profile.gravatar_large}}"  alt=""/>
        </div>
        <!--<div><a href="/?user=mybounties" >My Bounties</a></div>
        <div>Total bounties won, placed </div>
        -->
        <!--leaderboard - coming soon-->

        <!--form_box end--> 
    </div>
    <div class="message_area" style="height:100px; width:300px; padding:10px; float:right; margin-right:10px; margin-top:100px;">

    </div>


    <div class="clear"></div> 

{% endblock content %}