{% extends "page_template.html" %}

{% block content %}
<div class="form_box">
    <div class="about">
        <p>Coder Bounty is a new website that accelerates software development by making it easy, convenient and exciting to offer money rewards in exchange for accomplishing small coding tasks.</p>
        <p>The site is 100% automated and leverages the service APIs of Github, Google Code and Bitbucket.  When the issue is closed a payment is sent to the coder's WePay or Paypal account after a 3 day all clear period. </p>
    </div>

</div>
{% endblock content %}