{% extends "base.html" %}

{% block content %}
<style>
p {margin-bottom:10px;}
</style>
    <div class="section-postBounty wrapper-section">
        <div class="wrapper-global grid">
            <div class="col-20">
                <section class="frame frame-dark-paper">
                    <span class="bugfix-top"></span>
                    <div class="frame-content">
                        <h1 class="titlebar-paper"><span>About</span></h1>
                       
                            <div class="grid">
                            <div style="padding:40px; color:black; ">
<p>Coderbounty accelerates software development in the open source community. We connect developers who want to make money with software creators.  Coderbounty makes it easy to get your issues fixed for a low cost. Developers compete for the cash prize, i.e. bounty, to get the issue done fast.</p>

<p>Open source software used to require developers to donate their time to help out a project. Now, with Coderbounty, they can earn money. When project managers need to add a feature to an open source program, they can add the issue and post a bounty that will attract coders to complete it. Coderbounty is the best way to get open source code issues solved and supports innovation in the open source and software industry.</p>
                       
        </div>
                            </div>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>

{% endblock content %}