{% load staticfiles %}
{% load total %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1190"/>
    <title>{% block title %}{% endblock %} Coderbounty - Post bounties on code issues</title>
    <!-- Meta Tags -->
    {% block meta %}

    <meta name="description" content="">
    
    {% endblock %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/font.css" %}" />
    <!-- Icons -->
    <link rel="stylesheet" href="{% static "icons/coder-bounty/style.css" %}" />
    <link rel="stylesheet" href="{% static "icons/font-mfizz-2.2/font-mfizz.css" %}" />
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "js/modernizr/modernizr.custom.js" %}"></script>
    <script src="{% static "js/custom/custom-jQuery.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <script type="text/javascript" src="{% static "js/selectivizr/selectivizr.js" %}"></script>
        <script>
            html5elements()
        </script>
    <![endif]-->
</head>
<body>
    <!-- Header -->
    <header class="header wrapper-section">
        <div class="wrapper-global">
            <!-- logo -->
            <a class="logo" href="/">
                <img src="{% static "images/coder-bounty-logo.png" %}" alt="Coder Bounty" />
            </a>
            <!-- navigation -->
            <nav class="navHeader">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="/profile">{{request.user}} <i class='icon-cog'></i></a></li>
                        
                        <li><a href="/accounts/logout">Logout <i class='icon-exit'></i></a></li>
                    {% else %}
                        <li><a href="/accounts/login">Login <i class='icon-enter'></i></a></li>
                    {% endif %}
                    <li><a href="{% url 'post' %}">Post <i class='icon-hammer'></i></a></li>
                    <li><a href="{% url 'list' %}">Bounties <i class='icon-custom_dolar'></i></a></li>
                    <li><a href="{% url 'about' %}">About Us </a></li>
                    <li><a href="{% url 'help' %}">Help </a></li>
                </ul>
            </nav>
            <!-- header-social -->
            <div class="header-social">
                <ul>
                    <li><a class="twitter" href="https://twitter.com/coderbounty"></a></li>
                    <li><a class="facebook" href="https://www.facebook.com/coderbounty"></a></li>
                </ul>
            </div>

            <!-- new feature -->
            {% if messages %}
                <div class="element-newFeature">
                    {% for message in messages %}
                        <p class="titlebar-paper">
                            <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                New Feature: {% endif %}
                            </strong>
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- road sign -->
            <div class="element-roadSign">
            {% if request.user.is_authenticated %}
                <p><span>${{ request.user.userprofile.balance|default:"0" }}</span> account balance</p>
            {% else %}
                 <p><span>${% bounty_total %}</span> in bounties won</p>
            {% endif %}
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer wrapper-section">
        <div class="footer-symbol"></div>
        <div class="copyrights">
            <div class="wrapper-global">
                <p>&copy; {% now "Y" %} CoderBounty, Inc. All Rights Reserved. <a href="/terms">Terms & Conditions</a></p>
                <ul class="footer-links">
                    <li><a href="https://github.com/CoderBounty/coderbounty/issues" target="_new">Feedback</a></li>
                    <li><a href="{% url 'help' %}">FAQ</a></li>
                     <li><a href="mailto:support@coderbounty.com">Contact Us</a></li>
                     <li><a href="/help">Help</a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/api">API</a></li>

                </ul>
                <ul class="footer-social">
                    <li><a class="twitter" href="https://twitter.com/coderbounty"></a></li>
                    <li><a class="facebook" href="https://www.facebook.com/coderbounty"></a></li>
                    
                </ul>
                
            </div>
        </div>
    </footer>

    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66636003-1', 'auto');
      ga('send', 'pageview');

      var _mfq = _mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/7bcd257b-de90-4462-a2b8-93a6f5a17792.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
    <script src="https://embed.small.chat/T0CJ2GSMDG65TNGYLA.js" async></script>
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("1362137c30bc14f655e7a3da4a1dbb34");</script><!-- end Mixpanel -->
</body>
</html>
