<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Coder Bounty - The bounty for coders</title>
        <meta name="description" content="CoderBounty lets you put bounties on code tasks as well as get paid for fixing easy code issues."/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.selectbox-0.5.js"></script>
        <meta name="viewport" content="width=1024" />
    </head>

    <body>

        <div class="header_top_wrap">
            <div class="header_top">
                <div class="feedback">
                    <div id="facebook_button">
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Coder-Bounty/235042326555141&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0"  height="30" allowTransparency="true"></iframe>
                    </div>
                    <div id="tweet_button">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://coderbounty.com" data-via="coderbounty" data-related="coderbounty" data-hashtags="coderbounty">Tweet</a>
                        <script>
                            !function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }
                            (document, "script", "twitter-wjs");</script>
                    </div>
                </div>

                {% include "login_bar.html" %}

                <div id="tooltip_wrapper">
                    <div class="tooltip">
                        <form action="/login/" method="post" id="loginForm" >
                            {% csrf_token %}
                            <input type="hidden" name="next" value="/"></input>
                            <div class="login_email_box">
                                <label class="form_label">username / email: *</label>
                                <input name="username" id="username" type="text" class="form_field" tabindex="1"/>
                            </div>
                            <div class="login_password_box">
                                <label class="form_label">password: *</label> <a href="{% url forgot_password1 %}" title="Forgot your password?">Forgot?</a>
                                <input name="password" id="password" type="password"  class="form_field" tabindex="2"/>
                            </div>
                            <input type="image" src="/static/images/login.png" alt="Login" id="login_submit"/>

                            <div id="login_message_wrapper">
                                <div id="login_message" >{{login_message}}</div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        
        {% block header %}
        <div class="header_wrap">
            <div class="header">
                <div class="txt_box">
                    <a href="javascript:popup('#join-box');" title="Join"><img src="/static/images/join-now.png" width="197" height="70"></a>
                </div>

                <div class="coder_bounty">
                    <div class="logo"><a href="/" title="Coder Bounty"><img src="/static/images/coder_bounty.png" alt="" width="410" height="68"  /></a></div>
                   <!--
                    <form action="/add/" method="get">
                        <input name="url" type="text" class="txt_field" id="url" value="{{ value|default:'Enter a link to a Github, Google Code or Bitbucket issue' }}" onfocus="blank(this)" onblur="unblank(this)"/>
                        <div class="bounty">
                            <select name="bounty" id="bounty">
                              <option value="">Bounty</option>
                              {% include 'includes/money_option_list.html' %}
                            </select>
                            <script type="text/javascript">$('#bounty').selectbox();</script>
                        </div>
                        <div class="bounty time_limit">
                            <select name="limit" id="limit">
                              {% include 'includes/time_option_list.html' %}
                            </select>
                            <script type="text/javascript">$('#limit').selectbox();</script>
                        </div>
                        <div class="button"><a href="#" id="add_issue" title="Add bounty to issue">GO</a></div>
                        <div class="circle"><a href="javascript:popup('#help-box');" title="Help"><img src="/static/images/circle.png" alt="" width="42" height="42"  /></a></div>
                    </form>
                -->
                <h1>$30 total bounties won!</h1>

                                    {% if  user.is_authenticated %}
                    <a href="/social_auth/login/github/">
                    <button >
                        <i class="icon-list  icon-2x"></i>
                         <span>List my issues</span>
                    </button>
                </a>
                {% endif %}

                    <div class="clear"></div>

                    <div id="message_wrapper" >
                        <div id="message">{% if messages %}
                            {% for message in messages %}
                            <span {% if message.level %} class="{{ message.tags }}"{% endif %}>{{ message }}</span> {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            {% endif %}</div>
                    </div>
                </div>

                <div class="logos">
                    <a href="http://github.com" target="_new" title="Open Github in a new window"><img src="/static/images/logo1.png" alt="" width="103" height="46"  /></a>
                    <a href="http://code.google.com" target="_new" title="Open Google Code in a new window"><img  class="extra" src="/static/images/logo2.png" alt="" width="113" height="39"  /></a>
                    <a href="http://bitbucket.org" target="_new" title="Open Bitbucket in a new window"><img src="/static/images/logo3.png" alt="" width="118" height="40"  /></a>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="text_box"><a href="#" title="Crowd funded cash bounties on code issues"><img src="/static/images/txt2.jpg" alt="" width="747" height="51" /></a></div>


        <div class="navbar_outer">
            <div class="navbar_wrap">
                <div class="navbar">
                    <div class="menu">
                        <ul>
                            <li {% if status == "open" %}class="active"{% endif %}{% if status == "" %}class="active"{% endif %}><a href="/?status=open" title="View open bounties">OPEN</a></li>
                            {% if issue_counts.in_review.count %}<li {% if status == "in review" %}class="active"{% endif %}><a href="/?status=in+review" title="View bounties in review">IN REVIEW</a></li>{% endif %}
                            {% if issue_counts.paid.count %}<li {% if status == "paid" %}class="active"{% endif %}><a href="/?status=paid" title="View paid bounties">PAID</a></li> {% endif %}
                            <li {% if status == "all" %}class="active"{% endif %}><a href="/?status=all" title="View all bounties (open, in review and paid)">ALL</a></li>
                        </ul>
                    </div>

                    <div class="form" {% if not user.is_authenticated %}style="display:none;"{% endif %} >
                         <form action="/" method="get"  id="search_form" name="search_form">
                            <div class="search_box">
                                {% csrf_token %}
                                <input  name="q" id="q"  class="search_field" value="{{ q|default:'Search'}}"  onfocus="blank(this)" onblur="unblank(this)"/>
                                <input name="status" id="status" type="hidden" value="{{status}}"/>
                                <input name="go" id="search" type="button" class="search_button"/>
                            </div>
                            <div class="list">
                                <select name="order" id="order" name="">
                                    <option value="-bounty">Sort bounty &#780;</option>
                                    <option value="bounty">Sort bounty &#710;</option>
                                    <option value="-watchers">Sort watchers &#780;</option>
                                    <option value="watchers">Sort watchers &#710;</option>
                                    <option value="-project">Sort project &#780;</option>
                                    <option value="project">Sort project &#710;</option>
                                    <option value="-number">Sort number &#780;</option>
                                    <option value="number">Sort number &#710;</option>
                                </select>
                                <script type="text/javascript">$('#order').selectbox();</script>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% endblock header %}

        {% block content %}
        <div class="content">
            <div class="center_box_wrapper" style="height:21px; display:block;">
                <div class="center_box" id="center_box"><!--<p>Anonymous added <span>$475</span> to zurb / foundation <strong>#4249</strong></p>-->
                    <p>Welcome to Coder Bounty!</p></div>
            </div>
            <div class="leaderboard" style="float:right;">
                <div class="leaderboardTop">
                    <h2>Top users</h2>
                </div>
                <div class="leaderboardMiddle">
                    <table class="leaderboard_area">
                        <tr>
                            <th colspan="2">username</th>
                            <th><span style="color:#8DC63F;">Total $</span></th>
                        </tr>
                        {% for leader in leaderboard %}
                        <tr>
                            <td>{{forloop.counter}}.</td>
                            <td><img src="{{leader.get_profile.gravatar}}" alt="" height="28" width="28"/>&nbsp;{{leader}}</td>
                            <td><span style="color:#8DC63F;">${{leader.xp__points__sum}}</span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="leaderboardBottom"></div>
            </div>
            <div id="issues">
                <div id="first_issue" style="display:none;"></div>
                {% include "issues.html" %}
            </div>

            <script type="text/javascript">$('.add2cart').selectbox({
                    'onChangeCallback': function(event) {
                        event.container.closest('.content_area_left').find('.search_area').show()
                    }
                });
            </script>
        </div>
{% endblock content %}
        <div class="footer_wrap" ></div>
        <div id="dialog-overlay"></div>
        <div id="dialog-box">
            <div class="main_popup">
                <div class="top_box_wrap">
                    <div class="top_box"><h2>complete payment</h2></div>
                </div>
                <div class="form_box">
                    <div class="payment_info" id="checkout_div_id">
                    </div>
                </div><!--form_box end-->
            </div>
            <a href="#" class="button"></a>
        </div>
        


        <div id="join-box">
            <div class="join_popup">
                <form action="/join/" method="post" id="joinForm" >
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/"></input>
                    <div id="join_message_wrapper" style="float:left;">
                        <div id="join_message" >{{join_message}}</div>
                    </div>
                    <div class="login_email_box">
                        <label class="form_label">Enter your username: *</label>
                        {{form.username}}
                    </div>
                    <div class="login_email_box">
                        <label class="form_label">enter your email: *</label>
                        {{form.email}}
                    </div>
                    <div class="login_password_box">
                        <label class="form_label">create a password: *</label>
                        {{form.password1}}
                    </div>
                    <div class="login_password_box">
                        <label class="form_label">password confirmation: *</label>
                        {{form.password2}}
                    </div>
                    {{form.user_name}}
                    {{form.magic}}
                    <input type="image" src="/static/images/join.png" alt="Join" id="join_submit"/>
                    <div id="terms_link"><input type="checkbox" name="agree"/> I agree to the <a href="javascript:popup('#terms-box');">terms</a></div>
                </form>
            </div>
            <a href="#" class="button"></a>
        </div>

        <img src="/static/images/login-box.png" alt="preload" style="display:none;" />
        <img src="/static/images/bountyTop.png" alt="preload" style="display:none;" />
        <img src="/static/images/bountyMiddle.png" alt="preload" style="display:none;" />
        <img src="/static/images/bountyBottom.png" alt="preload" style="display:none;" />
        <img src="/static/images/leaderboardBottom.png" alt="preload" style="display:none;" />
        <img src="/static/images/watch_bg.png" alt="preload" style="display:none;" />
        <img src="/static/images/center_box_bg.jpg" alt="preload" style="display:none;" />

        <script type="text/javascript" src="/static/js/all.js"></script>

        <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.highlight-3.js"></script>


        <script type="text/javascript" src="/static/endless_pagination/js/endless.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/endless_pagination/js/endless_on_scroll.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://{{wepay_host}}.wepay.com/js/iframe.wepay.js"></script>
        <script type="text/javascript">document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https" : "http") + "://c.mouseflow.com/projects/77edc2c3-57b8-4ffa-9f9a-6f92e3458259.js' type='text/javascript'%3E%3C/script%3E"));</script>
        {% if checkout_uri %}
        <script type="text/javascript" >
            WePay.iframe_checkout("checkout_div_id", "{{checkout_uri}}");
            popup("#dialog-box");
        </script>
        {% endif %}

    </body>
</html>
