<div class="bounties"> 
    <div class="bountyTop"> 
        <h2>{{issue.bounties.count}} bount{{ issue.bounties.count|pluralize:"y,ies" }}</h2> 
    </div> 
    <div class="bountyMiddle"> 
        <table class="bounties_area">
        {% for bounty in issue.bounties %}
            <tr>
                <td><span class="green">${{bounty.price}}</span></td>
                <td>for</td>
                <td>{{bounty.time_remaining}}<td>
                <td>by</td>
                <td><img src="{{bounty.user.get_profile.gravatar}}" alt="" height="15" width="15"/>{{bounty.user}}</td>
            </tr>
        {% endfor %}
        </table>
    </div> 
    <div class="bountyBottom"></div> 
</div> 
