{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<script src="{% static "js/all.js" %}"></script>

<!-- Section - Repositories -->
<div class="section-issues clearfix wrapper-global">
    <!-- headbar -->
    <div class="headbar repo-headbar">
        <h1>Repositories</h1>
	    <div class="list-filter-buttons">
		    <div>
		        <button class="ribbon ribbon-normal ribbon-green ribbon-02" onclick="">List</button>
		        <button class="ribbon ribbon-normal ribbon-green ribbon-02" onclick="">Grid</button>
		    </div>            
		</div>
    </div>

    <!-- repositories grid -->
    <div class="issues">

    	{% for repository in repositories %}                            
        <div class="item repo-item">
            <section class="frame frame-light">
                <div class="frame-content">
                    <!--info-->
                    <div class="repo-info">
                    	<div class="side-info">
	                        <p class="repo-name">{{}}</p>
	                        <img src="" class="repository-image" />
	                        <p class="below-image">Commits: {{}} <br>Comments: {{}}</p>
	                        <div class="repo-people">
                                {% for contributor in contributors %}
		                        <img src="" class="repo-grid-people-image" />
                                {% endfor %}
	                        </div>
                    	</div>

                    	<div class="repo-text-info">
                        	<p><span class="bounty-price">$ {{}}</span>
                        	<span class="repo-bounty">bounty</span></p>
                        	<div class="repo-issues">
	                        	<p>Issues</p>
	                        	<center>
		                        	<table class="repo-issues-table">
		                        		<tbody>
		                        			<tr>
		                        				<td class="repo-issues-td">open</td>
		                        				<td class="repo-issues-td">closed</td>
		                        			</tr>
		                        			<tr>
		                        				<td>{{}}</td>
		                        				<td>{{}}</td>
		                        			</tr>                        			
		                        		</tbody>
		                        	</table>	                        		
	                        	</center>
                        	</div>

                        	<div class="repo-commit">
                        		<p class="commit-info">Latest commit: <br>
                        		<strong>{{}}: </strong>
                        		{{}}
                        		</p>
                        		<div class="repo-stats">
	                        		<i class="icon-eye"></i> {{}}
	                        		<i class="icon-star-empty"></i> {{}}
	                        		<i class="icon-code"></i> {{}}                       			
                        		</div>
                        	</div>
                    	</div>
                    </div>
                </div>
            </section>
        </div>
       {% endfor %}
    </div>
</div>
{% endblock %}