<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Coder Bounty - The bounty for coders</title>
        <meta name="description" content="CoderBounty lets you put bounties on code tasks as well as get paid for fixing easy code issues."/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.selectbox-0.5.js"></script>
        <meta name="viewport" content="width=1024" />
    </head>

    <body>
        <div class="header_top_wrap">
            <div class="header_top">
                <div class="feedback">
                    <div id="facebook_button">
                    <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Coder-Bounty/235042326555141&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0"  height="30" allowTransparency="true"></iframe>
                    </div>
                    <div id="tweet_button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://coderbounty.com" data-via="coderbounty" data-related="coderbounty" data-hashtags="coderbounty">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>

                {% include "login_bar.html" %}




            </div>
        </div>

        <div class="header_wrap_individual">
            <div class="header_individual">
                    <div class="logo"><a href="/" title="Coder Bounty"><img src="/static/images/coder_bounty.png" alt="" width="410" height="68"  /></a></div>
            </div>
        </div>
        <div class="clear"></div>


        <div class="content">
            <div class="center_box_wrapper" style="height:21px; display:block;">
                <div class="center_box" id="center_box"><!--<p>Anonymous added <span>$475</span> to zurb / foundation <strong>#4249</strong></p>-->
                    <p>Welcome to Coder Bounty!</p></div>
            </div>

            <div id="issues">
                <div class="content_area"><!--content-area1 start--> 
    <div class="content_area_left"> 
        <div class="left_top">
            <div class="frame">
                <a href="#">
                    {% if issue.image %}
                    <img style="background:url('/static/{{issue.image.url}}'); background-size:86px; -moz-background-size:86px; background-repeat:no-repeat; background-position:center; z-index:888; " src="/static/images/{{issue.service|slugify}}-overlay.png" alt="" width="86" >
                    {% else %}
                    <img src="/static/images/{{issue.service|slugify}}.png" alt="" width="86" >
                    {% endif %}
                </a>
            </div> 
            <p><a href="#">${% if issue.status == 'paid' %}{{issue.paid}}{% else %}{{issue.bounty}}{% endif %}</a></p> 
            {% if issue.status == 'paid' %}
            <div class="girl_box"> 
                <h2>winner</h2> 
                <a href="#"><img src="{{issue.winner.get_profile.gravatar_winner}}" alt="" width="23" height="23" /></a> 
                <span>{{issue.winner.username}}</span> 
                <div class="clear"></div> 
            </div> 
            {% else %}
            <div class="list1"> 
                <select name="add_{{issue.id}}" class="add2cart" id="add_{{issue.id}}"> 
                  <option value="">Add $</option>
                  {% include 'includes/money_option_list.html' %}
                </select> 
            </div> 
            {% endif %}
            <div class="clear"></div> 
        </div> 
        <div class="left_bottom"> 
            <div class="left_but{% if issue.status == 'in review' %} but2{% else %}{% if issue.status == 'paid' %} color{% endif %}{% endif %}">{{issue.status}}</div> 
            <span>{% if issue.status == 'paid' %}{{issue.modified|date:"n/j/Y" }}{% else %}{{issue.time_remaining }} left{% endif %}</span> 
            <div class="clear"></div>
            {% if issue.status != "paid" %}
            <!--<a href="" id="{{issue.id}}"><strong>{% if issue.watchers.count %}{{issue.watchers.count}}{% endif %}&nbsp;</strong> </a>-->
            {% endif %}
            {{issue.bounties.count}} bount{{ issue.bounties.count|pluralize:"y,ies" }} by:</br></br>
            {% for bounty in issue.bounties %}
                <a href="#" title="{{bounty.user}} added ${{bounty.price}} for {{bounty.time_remaining}}">
                    <img src="{{bounty.user.get_profile.gravatar}}" alt="{{bounty.user}} added ${{bounty.price}} for {{bounty.time_remaining}}" width="28" height="28" />
                </a>
            {% endfor %}    
        </div> 
       
        <div class="search_area"> 
            <div class="list2"> 
                <select name="time" id="time" class="time"> 
                  {% include 'includes/time_option_list.html' %}
                </select> 
            </div> 
            
            <div class="clear"></div> 
        </div> 
       
    </div> 

    <div class="content_area_right"> 
        <h2><a href="{{issue.html_url}}" target="_new">#{{issue.number}}</a> | {{issue.project}}</h2> 
        <h3>{{issue.title}}</h3> 
        <p>{{issue.content}}</p></br>
    <a style="font-size:16px; font-weight:bold; color:red;" href="javascript:alert('simply code and close the {{issue.service}} issue and the rest is automatic');window.location = '{{issue.html_url}}';">Accept this challenge</a></div> 
    
    <div class="clear"></div> 
    
</div>

            </div>

         
        </div>

        <div class="footer_wrap" ></div>

        <script type="text/javascript" src="/static/js/all.js"></script>
 

    </body>
</html>
