{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Content -->
  <div class="content wrapper-global">
    <div class="grid">
      <!-- main -->
      <div class="main col-15">
        <!-- codeIssue-head -->
        <div class="codeIssue-head">
          <div class="breadcrumbs">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Code Issues</a></li>
                  <li><a href="#">Open</a></li>
              </ul>
          </div>
          <h1>Automatically populate the commit message on the marketing site home</h1>
          <!-- -->
          <div class="status">
              <ul>
                  <li class="id"><strong>#4249</strong> zurb/foundation</li>
                  <li>Status: <span class="icon-unlocked"><span>open</span></span></li>
                  <li>Status: <span class="icon-lock2"><span>close</span><span></li>
                  <li>Views: <strong>3992</strong></li>
              </ul>
          </div>
        </div>
        <!-- codeIssue-content -->
        <div class="codeIssue-content grid">
          <!-- codeIssue-side -->
          <div class="codeIssue-side col-5">
            <!-- basic -->
            <div class="codeIssue-basic clearfix">
                <div class="img-holder">
                    <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                </div>
                <div class="text">
                  <p class="total">Total Bounty: <span>$45</span></p>
                  <form>
                      <button class="ribbon ribbon-normal ribbon-03 ribbon-brown-dark">add Cash</button>
                  </form>
                </div>
                <div class="clear language">
                  <table>
                    <tr>
                      <td><p>Primary Language:</p></td>
                      <td><img src="{% static "images/logos/logo-python.png" %}" alt="Primary language: Python" /></td>
                    </tr>
                  </table>
                </div>
                <div class="view-ghithub">
                  <a href="#">View this issue on Github</a>
                </div>
            </div>
            <!-- frame bounties -->
            <div class="frame frame-light">
                <div class="frame-content">
                  <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Bounties</span></h2>
                  <table class="table-list table-list-leader-board">
                      <tbody>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Adam Smith</a>
                              </td>
                              <td class="price">$1045</td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Rodger Stone</a>
                              </td>
                              <td class="price">$872</td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Tim Novak</a>
                              </td>
                              <td class="price">$619</td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Kristin Simmons</a>
                              </td>
                              <td class="price">$295</td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Fill Jones</a>
                              </td>
                              <td class="price">$131</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div>
            <!-- frame watchers -->
            <div class="frame frame-light frame-noLines">
                <div class="frame-content">
                  <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Watchers</span></h2>
                  <table class="table-list table-list-leader-board">
                      <tbody>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Adam Smith</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Rodger Stone</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Tim Novak</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Kristin Simmons</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Fill Jones</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <form class="center">
                    <button class="ribbon ribbon-normal ribbon-03 ribbon-green">watch this issue</button>
                  </form>
                </div>
            </div>
          </div>
          <!-- codeIssue-main -->
          <div class="codeIssue-main col-10">
            <div class="codeIssue-description">
                <!-- text -->
                <div class="text"><p>When in portrait mode, the tabs have not much space, especially when 3 or more, so they collapse into the second line, however the line height is much smaller then the size of the nice tab flap, creating a weird overlapping effect of the flaps. Possible solutions: correct multiline tab flaps, or switching to tab list when not enough width to accommodate them.</p></div>
                <!-- buttons -->
                <div class="button-wrapper clearfix">
                  <form>
                    <button class="ribbon ribbon-large ribbon-03">Take</button>
                    <button class="ribbon ribbon-normal ribbon-03 ribbon-brown">Share</button>
                  </form>
                </div>
            </div>
            <!-- comments -->
            <div class="comments">
              <!-- comments count -->
              <div class="comments-count clearfix">
                <span>20,203</span> comments
                <a class="add" href="#">Add a comment</a>
              </div>
              <!-- comments main -->
              <div class="comments-main">
                <!-- item-content -->
                <div class="item-comment clearfix">
                  <!-- text -->
                  <div class="text">
                    <div class="img-holder">
                      <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                    </div>
                    <div class="user"><strong>davis234@hotmail.com</strong></div>
                    <div class="description"><p>Hey guys... I implemented facebook comments on my site, you can have a look: http://freemoviepublic.com Btw, it's a site to watch movies for free...</p></div>
                  </div>
                  <!-- actionbar -->
                  <div class="actionbar">
                    <ul>
                      <li><a href="#"><strong>Reply</strong></a></li>
                      <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                      <li><a href="#">Like</a></li>
                      <li><em>October 24th at 10:34pm</em></li>
                    </ul>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- item-content -->
                <div class="item-comment clearfix">
                  <!-- text -->
                  <div class="text">
                    <div class="img-holder">
                      <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                    </div>
                    <div class="user"><strong>Test User</strong></div>
                    <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                  </div>
                  <!-- actionbar -->
                  <div class="actionbar">
                    <ul>
                      <li><a href="#"><strong>Reply</strong></a></li>
                      <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                      <li><a href="#">Like</a></li>
                      <li><em>October 24th at 10:34pm</em></li>
                    </ul>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- side -->
      <div class="side col-5">
        <!-- frame - top 20 -->
        <div class="frame frame-dark">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown-dark">January top 20</span></h2>
                <table class="table-list table-list-leader-board">
                    <tbody>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Adam Smith</a>
                            </td>
                            <td class="price">$1045</td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Rodger Stone</a>
                            </td>
                            <td class="price">$872</td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Tim Novak</a>
                            </td>
                            <td class="price">$619</td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Kristin Simmons</a>
                            </td>
                            <td class="price">$295</td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Fill Jones</a>
                            </td>
                            <td class="price">$131</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- frame - accepted by -->
        <div class="frame frame-light frame-noLines">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Accepted by</span></h2>
                <table class="table-list table-list-leader-board">
                    <tbody>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Adam Smith</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Rodger Stone</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Tim Novak</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Kristin Simmons</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Fill Jones</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- frame - word cloud -->
        <div class="frame frame-light">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Word cloud</span></h2>

            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}