{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ object.project }} | Issue #{{object.number}} | {{object.title}} | 
{% endblock %}
{% block content %}
  <!-- Content -->
<div class="wrapper-section">
  <div class="content wrapper-global">
    <div class="grid">
      <!-- main -->
      <div class="main col-15">
        <!-- codeIssue-head -->
        <div class="codeIssue-head">
          <div class="breadcrumbs">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="#">{{object.project}}</a></li>
                  <li><a href="#">{{object.status}}</a></li>
              </ul>
          </div>
          <h1>{{ object.title }}</h1>
          <!-- -->
          <div class="status">
              <ul>
                  <li class="id"><strong>#{{ object.number }}</strong> {{object.project}}</li>
                  <li>Status: <span class="icon-{{object.status|slugify}}"><span> {{object.status}}</span><span></li>
                  <li>Views: <span class="icon-stats"> <strong>{{object.views}}</strong></span></li>
              </ul>
          </div>
        </div>
        <!-- codeIssue-content -->
        <div class="codeIssue-content grid">
          <!-- codeIssue-side -->
          <div class="codeIssue-side col-5">
            <!-- basic -->
            <div class="codeIssue-basic clearfix">
                <div class="img-holder">
                    <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                </div>
                <div class="text">
                  <p class="total">Total Bounty: <span>${{ object.bounty }}</span></p>
                  <form>
                      <button class="ribbon ribbon-normal ribbon-03 ribbon-brown-dark">add Cash</button>
                  </form>
                </div>
                <div class="clear language">
                  <table>
                    <tr>
                      <td><p>Primary Language:</p></td>
                      <td><img src="{{STATIC_URL}}images/logos/logo-{{ object.language|slugify }}.png" alt="{{ object.language }}" /></td>
                    </tr>
                  </table>
                </div>
                <div class="view-ghithub">
                  <a href="{{object.html_url}}">View this issue on {{object.service.name}}</a>
                </div>
            </div>
            <!-- frame bounties -->
            <div class="frame frame-light">
                <div class="frame-content">
                  <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Bounties</span></h2>
                  <table class="table-list table-list-leader-board">
                      <tbody>
                          {% for bounty in issue.bounties %}
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="/profile/{{bounty.user.username}}"><img alt="" src="{{bounty.user.userprofile.avatar}}"></a></td>
                              <td class="text">
                                  <a href="/profile/{{bounty.user.username}}">{{bounty.user.username}}</a>
                                  {{ bounty.created }}
                              </td>
                              <td class="price">${{bounty.price}}</td>
                          </tr>
                          {% endfor %}
                         
                      </tbody>
                  </table>
                </div>
            </div>
            <!-- frame watchers -->
            <div class="frame frame-light frame-noLines">
                <div class="frame-content">
                  <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Takers</span></h2>
                  <table class="table-list table-list-leader-board">
                      <tbody><!--
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Adam Smith</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Rodger Stone</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Tim Novak</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Kristin Simmons</a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumb">
                                  <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                              <td class="text">
                                  <a href="#">Fill Jones</a>
                              </td>
                          </tr>-->
                      </tbody>
                  </table>
                  <form class="center">
                    <button class="ribbon ribbon-normal ribbon-03 ribbon-green">take this bounty</button>
                  </form>
                </div>
            </div>
          </div>
          <!-- codeIssue-main -->
          <div class="codeIssue-main col-10">
            <div class="codeIssue-description">
                <!-- text -->
                <div class="text"><p>{{ object.content }}.</p></div>
                <!-- buttons -->
                <div class="button-wrapper clearfix">
                  <form>
                    <button class="ribbon ribbon-large ribbon-03">Take</button>
                    <button class="ribbon ribbon-normal ribbon-03 ribbon-brown">Share</button>
                  </form>
                </div>
            </div>
            {% comment "Hide comments until they are integrated" %}
            <!-- comments -->
            <div class="comments">
              <!-- comments count -->
              <div class="comments-count clearfix">
                <span>20,203</span> comments
                <a class="add" href="#">Add a comment</a>
              </div>
              <!-- comments main -->
              <div class="comments-main">
                <!-- item-content -->
                <div class="item-comment clearfix">
                  <!-- text -->
                  <div class="text">
                    <div class="img-holder">
                      <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                    </div>
                    <div class="user"><strong>davis234@hotmail.com</strong></div>
                    <div class="description"><p>Hey guys... I implemented facebook comments on my site, you can have a look: http://freemoviepublic.com Btw, it's a site to watch movies for free...</p></div>
                  </div>
                  <!-- actionbar -->
                  <div class="actionbar">
                    <ul>
                      <li><a href="#"><strong>Reply</strong></a></li>
                      <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                      <li><a href="#">Like</a></li>
                      <li><em>October 24th at 10:34pm</em></li>
                    </ul>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- item-content -->
                <div class="item-comment clearfix">
                  <!-- text -->
                  <div class="text">
                    <div class="img-holder">
                      <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                    </div>
                    <div class="user"><strong>Test User</strong></div>
                    <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                  </div>
                  <!-- actionbar -->
                  <div class="actionbar">
                    <ul>
                      <li><a href="#"><strong>Reply</strong></a></li>
                      <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                      <li><a href="#">Like</a></li>
                      <li><em>October 24th at 10:34pm</em></li>
                    </ul>
                  </div>
                  <!-- item-content -->
                  <div class="item-comment clearfix">
                    <!-- text -->
                    <div class="text">
                      <div class="img-holder">
                        <img src="{% static "images/temp/thumb-medium-00.jpg" %}" alt="" />
                      </div>
                      <div class="user"><strong>Test User</strong></div>
                      <div class="description"><p>Nice one... I just looked at coderbounty.com good implemetation there...</p></div>
                    </div>
                    <!-- actionbar -->
                    <div class="actionbar">
                      <ul>
                        <li><a href="#"><strong>Reply</strong></a></li>
                        <li><a href="#"><span class="icon-thumbs-up2"></span>190</a></li>
                        <li><a href="#">Like</a></li>
                        <li><em>October 24th at 10:34pm</em></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <!-- side -->
      <div class="side col-5">
        <!-- frame - top 20 -->
        <div class="frame frame-dark">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown-dark">{% now "F" %} top 5</span></h2>
                <table class="table-list table-list-leader-board">
                    <tbody>
                      {% for leader in leaderboard %}
                          <tr>
                              <td class="thumb">
                                  <a href="/profile/{{ leader.username }}" class="img-holder"><img src="{{ leader.userprofile.avatar }}" alt="" /></a></td>
                              <td class="text">
                                  <a href="/profile/{{ leader.username }}">{{ leader.username}}</a>
                              </td>
                              <td class="price">${{ leader.userprofile.balance}}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- frame - accepted by 
        <div class="frame frame-light frame-noLines">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Accepted by</span></h2>
                <table class="table-list table-list-leader-board">
                    <tbody>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-03.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Adam Smith</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-02.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Rodger Stone</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-01.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Tim Novak</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-05.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Kristin Simmons</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumb">
                                <a class="img-holder" href="#"><img alt="" src="{% static "images/temp/thumb-04.jpg" %}"></a></td>
                            <td class="text">
                                <a href="#">Fill Jones</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        -->
        <!-- frame - word cloud -->
        <div class="frame frame-light">
            <div class="frame-content">
                <h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Word cloud</span></h2>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}