{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<!-- Section - Issues (Find Bounties) -->
	<div class="section-issues clearfix wrapper-global">
		<!-- headbar -->
        <div class="headbar">
			<h2>Find Issues to Code</h2>
			<div class="filter">
				<form>
					<label for="filterAll">Language:</label>
					<select id="filterAll">
                    	<option>Any</option>
                        <option>Issue #1</option>
                        <option>Issue #2</option>
                        <option>Issue #3</option>
                        <option>Issue #4</option>
					</select>
                    <label for="filterSort">Sort by:</label>
                    <select id="filterSort">
                    	<option>Most Recent</option>
                        <option>English Language</option>
                        <option>French Language</option>
                        <option>Italian Language</option>
                        <option>Spain Language</option>
					</select>
                    <button class="ribbon ribbon-normal ribbon-green ribbon-03">Find</button>
				</form>
			</div>
		</div>
        <!-- issues -->
        <div class="issues">
            <!-- -->
            {% for issue in issues %}
                <div class="item">
                    <section class="frame frame-light">
                        <div class="frame-content">
                            <!--info-->
                            <div class="issue-info clearfix">
                                <div class="side-info">
                                    <a href="/issue/{{issue.id}}" class="img-holder"><img src="{% static "images/temp/thumb-github.jpg" %}" alt="" /></a>
                                    <p class="price">${{issue.bounty}}</p>
                                    <form>
                                        <button class="ribbon ribbon-normal ribbon-03 ribbon-brown-dark">Add $</button>
                                    </form>
                                </div>
                                <div class="text">
                                    <!-- hide until we have all icons <div class="issue-status">
                                        <span class="icon-custom_yes"></span>
                                    </div>
                                    -->
                                    <ul class="issue-id">
                                        <li class="number">#{{issue.number}}</li>
                                        <li class="owner">{{issue.project}}</li>
                                    </ul> 
                                    <h3>{{issue.title}}</h3>
                                    <p>{{issue.content}}</p>
                                    <div class="logo-tech">
                                        <img src="{{ STATIC_URL }}images/logos/logo-{{issue.language|slugify}}.png" alt=" {{issue.language}}" />
                                    </div>
                                    <div class="posted"><em>Posted: <time>{{issue.created|date:"m/d/Y"}}</time></em> <em>Views: <time>{{issue.views}}</time></em></div>
                                </div>
                            </div>
                            <!-- people -->
                            <div class="issue-people clearfix">
                                <ul class="clearfix">
                                {% for bounty in issue.bounties %}
                                    <li><a href="/profile/{{bounty.user.username}}"><img src="{{bounty.user.userprofile.avatar}}" alt="{{bounty.user.username}}" /></a></li>
                                {% endfor %}
                                </ul>
                                <div class="button-wrapper">
                                    <form>
                                        <button class="ribbon ribbon-normal ribbon-03 ribbon">Take</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% endfor %}            
        </div>
	</div>
{% endblock %}