{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Section - Profile -->
	<div class="section-profile wrapper-section">
		<div class="grid wrapper-global">
			<!-- profile-info -->
			<div class="col-5 profile-info">
				<section class="frame frame-dark-paper">
					<span class="bugfix-top"></span>
					<div class="frame-content">
                    	<a class="img-holder" href="#"><img src="{{ object.userprofile.avatar_large }}" alt="" /></a>
						<p>Joined {{ object.date_joined|date:"m/d/Y"}}</p>
                        <ul class="social-list">
                        {% for account in object.socialaccount_set.all %}
							{% if account.provider == 'github' %}
								<li><a href="{{account.extra_data.html_url }}" target="_new" class="icon-github6"></a></li>
							{% endif %}
							{% if account.provider == 'google' %}
								<li><a href="{{account.extra_data.link }}" target="_new" class="icon-google-plus2"></a></li>
							{% endif %}
							{% if account.provider == 'bitbucket' %}
								<li><a href="{{account.extra_data.link }}" target="_new" class="icon-bitbucket2"></a></li>
							{% endif %}
                        </ul>
                        {% endfor %}
                        <ul class="stats">
                        	<li><span class="label">Won:</span><span class="value">${{object.userprofile.balance|default:"0"}}</span></li>
                            <li><span class="label">Posted:</span><span class="value">$0</span></li>
                            <li><span class="label">Taken:</span><span class="value">0</span></li>
                            <li><span class="label">Closed:</span><span class="value">0</span></li>
                        </ul>
                        {% if object.username == user.username %}
                        	<a href="/edit_profile/" class="ribbon ribbon-03 ribbon-type-01 ribbon-normal ribbon-brown-dark">Edit profile</a>
						{% endif %}                        
						<button class="ribbon ribbon-03 ribbon-type-01 ribbon-normal"><span></span>Invite</button>
                        
					</div>
					<span class="bugfix-bottom"></span>
				</section>
			</div>
			<!-- profile-activitys -->
			<div class="col-15 profile-activity">
            	<div class="heading">
            		<h2>{{ object.get_username }}</h2>
                	<p>Global Rank #48</p>
                </div>
				<section class="frame frame-light">
					<div class="frame-content">
                    	<h2 class="titlebar"><span class="ribbon ribbon-normal ribbon-04 ribbon-brown">Recent Activity</span></h2>
                        <ul class="additional-links" style="margin-top:-15px;">
                        	<li><a href="">Show issues I've posted</a></li>
                            <!-- note: you can place also other additional links, if you do remove inline style for margin top -->
                        </ul>
                        <table class="table-list table-list-activity">
                        	{% for activity in activities %}
							<tbody>
								<tr>
									<td class="status">
										<span class="icon-custom_yes"></span></td>
									<td class="text">
										<p>{{ activity }}</p>
									</td>

                            </tbody>
                            {% endfor %}
                        </table>                               
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}