<div class="content_area"><!--content-area1 start--> 
    <div class="content_area_left"> 
        <div class="left_top">
            <div class="frame">
                <a href="#">
                    {% if issue.image %}
                    <img style="background:url('/static/{{issue.image.url}}'); background-size:86px; -moz-background-size:86px; background-repeat:no-repeat; background-position:center; z-index:888; " src="/static/images/{{issue.service|slugify}}-overlay.png" alt="" width="86" >
                    {% else %}
                    <img src="/static/images/{{issue.service|slugify}}.png" alt="" width="86" >
                    {% endif %}
                </a>
            </div> 
            <p><a href="#">${% if issue.status == 'paid' %}{{issue.paid}}{% else %}{{issue.bounty}}{% endif %}</a></p> 
            {% if issue.status == 'paid' %}
            <div class="girl_box"> 
                <h2>winner</h2> 
                <a href="#"><img src="{{issue.winner.get_profile.gravatar_winner}}" alt="" width="23" height="23" /></a> 
                <span>{{issue.winner.username}}</span> 
                <div class="clear"></div> 
            </div> 
            {% else %}
            <div class="list1"> 
                <select name="add_{{issue.id}}" class="add2cart" id="add_{{issue.id}}"> 
                  <option value="">Add $</option>
                  {% include 'includes/money_option_list.html' %}
                </select> 
            </div> 
            {% endif %}
            <div class="clear"></div> 
        </div> 
        <div class="left_bottom"> 
            <div class="left_but{% if issue.status == 'in review' %} but2{% else %}{% if issue.status == 'paid' %} color{% endif %}{% endif %}">{{issue.status}}</div> 
            <span>{% if issue.status == 'paid' %}{{issue.modified|date:"n/j/Y" }}{% else %}{{issue.time_remaining }} left{% endif %}</span> 
            <div class="clear"></div>
            {% if issue.status != "paid" %}
            <!--<a href="" id="{{issue.id}}"><strong>{% if issue.watchers.count %}{{issue.watchers.count}}{% endif %}&nbsp;</strong> </a>-->
            {% endif %}
            {{issue.bounties.count}} bount{{ issue.bounties.count|pluralize:"y,ies" }} by:</br></br>
            {% for bounty in issue.bounties %}
                <a href="#" title="{{bounty.user}} added ${{bounty.price}} for {{bounty.time_remaining}}">
                    <img src="{{bounty.user.get_profile.gravatar}}" alt="{{bounty.user}} added ${{bounty.price}} for {{bounty.time_remaining}}" width="28" height="28" />
                </a>
            {% endfor %}    
        </div> 
       
        <div class="search_area"> 
            <div class="list2"> 
                <select name="time" id="time" class="time"> 
                  {% include 'includes/time_option_list.html' %}
                </select> 
            </div> 
            
            <div class="clear"></div> 
        </div> 
       
    </div> 

    <div class="content_area_right"> 
        <h2><a href="/issue/{{issue.id}}" >#{{issue.number}}</a> | {{issue.project}}</h2> 
        <h3>{{issue.title}}</h3> 
        <p>{{issue.content}}</p></br>
    <a style="font-size:16px; font-weight:bold; color:red;" href="javascript:alert('simply code and close the {{issue.service}} issue and the rest is automatic');window.location = '{{issue.html_url}}';">Accept this challenge</a></div> 
    
    <div class="clear"></div> 
    
</div>
