{% extends "base.html" %}
{% block content %}
<style>
    p {margin-bottom:10px;}
    ol {margin-left:40px;margin-bottom:10px;}
    .c4 {font-weight:bold;}
</style>
<div class="section-postBounty wrapper-section">
    <div class="wrapper-global grid">
        <div class="col-20">
            <section class="frame frame-dark-paper">
                <span class="bugfix-top"></span>
                <div class="frame-content">
                    <h1 class="titlebar-paper"><span>Terms</span></h1>
                    <div class="grid">
                        <div style="padding:40px; color:black;">
                            <p class="c2"><span class="c5">These Terms and Conditions, as may be amended from time
                                    to time (the "Agreement") apply to your use of the CoderBounty Services, are a legal
                                    contract between you and CoderBounty, and describe the relationship between you and
                                    CoderBounty.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c5">In order to use the CoderBounty Services, you must read,
                                    agree with and accept all of the terms and conditions contained in this Agreement. We
                                    may amend this Agreement at any time by posting a revised version on our website. The
                                    revised version will be effective at the time we post it. Your continued use of the
                                    CoderBounty Services following any update to this Agreement will be deemed acceptance
                                    of the updated Agreement.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c5">THIS IS AN IMPORTANT DOCUMENT, WHICH YOU MUST CONSIDER
                                    CAREFULLY WHEN CHOOSING WHETHER TO USE THE CODERBOUNTY SERVICES. PLEASE READ THIS
                                    AGREEMENT CAREFULLY. BY BROWSING, REGISTERING FOR, ACCESSING OR USING ANY CODERBOUNTY
                                    SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS
                                    AGREEMENT, INCLUDING ANY ADDITIONAL GUIDELINES REFERENCED IN THIS AGREEMENT. IF AT ANY
                                    TIME YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, PLEASE IMMEDIATELY TERMINATE YOUR
                                    USE OF THE CODERBOUNTY SERVICES AND FOLLOW THE APPLICABLE INSTRUCTIONS IN THIS
                                    AGREEMENT.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Consent to Electronic Disclosures</span></p>

                            <p class="c2"><span class="c5">Because CoderBounty Services are provided
                                    electronically, you must consent to CoderBounty's providing important information
                                    electronically if you wish to proceed. Read this notice carefully. You can print a copy
                                    for your records.</span></p>

                            <p class="c2"><span class="c5">By consenting to receive information electronically, you
                                    will receive the following information and disclosures electronically at this website
                                    or via electronic mail ("email"):</span></p>

                            <ol class="c8" start="1">
                                <li class="c7 c2"><span class="c5">the CoderBounty Terms and Conditions, including
                                        legal disclosures</span></li>

                                <li class="c7 c2"><span class="c5">any future changes to the CoderBounty Terms and
                                        Conditions</span></li>

                                <li class="c7 c2"><span class="c5">the CoderBounty Privacy Policy</span></li>

                                <li class="c7 c2"><span class="c5">account information, including Transaction history
                                        and balance, and</span></li>

                                <li class="c7 c2"><span class="c5">any other notices, legal communications, or
                                        disclosures.</span></li>
                            </ol>

                            <p class="c2"><span class="c5">To receive this information electronically, and access
                                    and retain any disclosures received, you will need a computer with Internet access, and
                                    the ability to receive and read email. Please note that some web browsers may not be
                                    supported.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c5">By proceeding with registration to use CoderBounty
                                    Services:</span></p>

                            <ol class="c8" start="1">
                                <li class="c7 c2"><span class="c5">you agree to receive information and disclosures
                                        electronically on this website and via email and confirm that you will download or
                                        print any disclosures for your records;</span></li>

                                <li class="c7 c2"><span class="c5">you acknowledge that you can access information
                                        that is provided electronically at this website and via email;</span></li>

                                <li class="c7 c2"><span class="c5">you are authorizing the delivery of disclosures
                                        regarding the CoderBounty Services electronically on this website and via email and
                                        providing your consent to receive electronic communications; and</span></li>

                                <li class="c2 c7"><span class="c5">you agree to receive email regarding the
                                        CoderBounty Services.</span></li>
                            </ol>

                            <p class="c2"><span class="c5">Notices shall be considered to be received by you within
                                    24 hours of the time it is posted to our website or emailed to you unless we receive
                                    notice that the email was not delivered.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c5">You can withdraw your consent to receive electronic
                                    communications by emailing us at support@CoderBounty.com. However, if you withdraw your
                                    consent, you will no longer be able to use the CoderBounty Services. Withdrawing your
                                    consent will not affect the validity of pending or completed transactions. You can
                                    obtain a paper copy of an electronic record by contacting us at
                                    support@CoderBounty.com; CoderBounty may charge a fee. To update your contact
                                    information, log in to CoderBounty and click on "Account".</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Our Relationship with You</span></p>

                            <p class="c2"><span class="c5">CoderBounty</span> <span class="c5">is a service
                                    provider. CoderBounty does not have control over or liability for products or services
                                    paid for using CoderBounty.</span></p>

                            <p class="c0"></p>

                            <p class="c2 c10"><span class="c4">Payers</span></p>

                            <p class="c0"></p>

                            <p class="c2 c10"><span class="c5">The use of the CoderBounty Services by sponsored
                                    merchants in no way represents any endorsement by CoderBounty of their policies,
                                    practices or beliefs. Furthermore, CoderBounty provides no guarantees to Payers
                                    regarding products or services purchased through the CoderBounty Services, nor does it
                                    make any representations regarding the tax deductibillity of donations.</span></p>

                            <p class="c0"></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">CoderBounty Services</span></p>

                            <p class="c2"><span class="c5">When you register for CoderBounty, you must provide an
                                    email address, and you must select a password. You must keep your password confidential
                                    and not disclose it to others. When you successfully register for CoderBounty, you
                                    become a "User".</span></p>

                            <p class="c0"></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Deleting an Account</span></p>

                            <p class="c2"><span class="c5">You</span> <span class="c5">can only delete accounts
                                    that have no pending payments and that do not currently hold a balance. When an Account
                                    is deleted, the transaction history and other historical information about the Account
                                    may no longer be available to the User. This action cannot be undone.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Collecting Payments</span></p>

                            <p class="c2"><span class="c5">Users can collect payments by closing issues.
                                    CoderBounty does not make any warranties regarding the amount of money that users can
                                    or will collect.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Effect of Payments</span></p>

                            <p class="c2"><span class="c5">Once you make a payment, you may not change or cancel
                                    that payment. CoderBounty IS NOT RESPONSIBLE FOR ANY DISPUTES OR DISAGREEMENTS BETWEEN
                                    YOU AND A ANY OTHER PARTY TO A PAYMENT. YOU AGREE TO RESOLVE DISPUTES DIRECTLY WITH THE
                                    OTHER PERSON, AND AGREE NOT TO INVOLVE CoderBounty IN SUCH DISPUTES.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Incentives or Bonuses</span></p>

                            <p class="c2"><span class="c5">CoderBounty</span> <span class="c5">may provide you with
                                    a bonus or incentive (including a referral bonus), subject to the terms and conditions
                                    of any bonus or incentive program in effect and made available to you at the time you
                                    register. CoderBounty reserves the right to terminate any incentive promotional program
                                    at any time without notice to you.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">CoderBounty Fees</span></p>

                            <p class="c2"><span class="c5">It is free to register for CoderBounty and to set up
                                    Accounts. <b style="font-size:14px">CoderBounty charges a success fee of 10% of the total bounty upon completion.</b> To cover our costs and make CoderBounty a better site for you.</span>
                            </p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Non-CoderBounty Fees</span></p>

                            <p class="c2"><span class="c5">In addition to the fees that CoderBounty charges, you
                                    may also be required to pay fees and charges to others in connection with your use of
                                    the CoderBounty Services. For example, your mobile telephone company may impose charges
                                    for your use of your cell phone in connection with CoderBounty. The financial
                                    institution that issues your credit card or debit card, or holds your bank account, or
                                    receives funds Withdrawn to a Bank Account by you, may charge you for payments between
                                    that Payment Method and CoderBounty. If you use a credit card, you may be charged
                                    interest.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c3 c9">Reopening issues:</span></p>

                            <p class="c2"><span class="c5">Users may reopen issues causing the bounty to go from
                                    pending to open again.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Refund and Chargeback Policy</span></p>

                            <p class="c2 c10"><span class="c4">Refunds</span></p>

                            <p class="c2 c10"><span class="c5">There are no refunds.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Privacy and Information Sharing</span></p>

                            <p class="c2"><span class="c5">Protecting your privacy is very important to
                                    CoderBounty. Please review our Privacy Policy in order to better understand our
                                    commitment to maintaining your privacy, as well as our use and disclosure of your
                                    information.</span></p>

                            <p class="c2"><span class="c5">Privacy of Others: If you receive information about
                                    another CoderBounty user through the CoderBounty Service, you must keep the Information
                                    confidential and only use it in connection with the CoderBounty Service. You may not
                                    disclose or distribute another User's information to a third party or use the
                                    information for marketing purposes unless you receive the User's express consent to do
                                    so.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">User Content Submissions</span></p>

                            <p class="c2"><span class="c5">Once you have registered with CoderBounty, you may
                                    upload certain materials and information to the CoderBounty Service
                                    (&acirc;&euro;&oelig;User Content&acirc;&euro;). You must not upload User Content
                                    unless you own all necessary rights, or have permission from the rightful owner of the
                                    User Content, to grant CoderBounty all of the license rights granted in this
                                    Agreement.</span></p>

                            <p class="c2"><span class="c5">You must not submit any User Content that: (a) is false,
                                    misleading, unlawful, obscene, defamatory, libelous, threatening, pornographic,
                                    harassing, hateful, racially or ethnically offensive; (b) encourages conduct that would
                                    be considered a criminal offense, give rise to civil liability, violate any law, or is
                                    otherwise inappropriate; (c) breaches any duty toward or rights of any person or
                                    entity, including rights of publicity or privacy; or (d) advertises products or
                                    services competitive with CoderBounty's or its partners' products and services, as
                                    determined by CoderBounty in its sole discretion.</span></p>

                            <p class="c2"><span class="c5">For any User Content, you grant to CoderBounty a
                                    worldwide, perpetual, irrevocable, non-exclusive, royalty-free, fully sublicensable,
                                    and transferable license to use, reproduce, modify, translate, adapt, distribute,
                                    prepare derivative works of, transmit, display, publish, perform delete (in whole or in
                                    part), and incorporate the User Content for any purpose and without acknowledgment to
                                    you. You retain all rights in your User Content, subject to the rights granted to
                                    CoderBounty in this Agreement.</span></p>

                            <p class="c2"><span class="c5">Although CoderBounty will not necessarily pre-screen or
                                    review User Content, CoderBounty reserves the right to refuse, review, or delete any
                                    User Content in its sole discretion, for any reason or no reason. You remain solely
                                    responsible for: (i) any errors or omissions in your User Content; (ii) any liability
                                    arising out of your User Content or CoderBounty's failure to display your User Content;
                                    and (iii) any liability arising out of your use of any content from the CoderBounty
                                    Service. Under no circumstances will CoderBounty or its stockholders, directors,
                                    officers, employees, agents, representatives, partners, or affiliates be held liable
                                    for any loss or damage caused by your User Content or by your reliance of any content
                                    obtained through the CoderBounty Service.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Your Responsibilities</span></p>

                            <p class="c2"><span class="c5">Content on the CoderBounty Service, including User
                                    Content, has been licensed to CoderBounty in accordance with various licensing
                                    agreements between CoderBounty and the persons or entities who license the rights to
                                    such content ("Licensed Content"). You understand that Licensed Content is owned by
                                    CoderBounty's licensors and is protected by intellectual property laws. CoderBounty
                                    grants you a limited, non-exclusive, non-transferable, revocable right to access the
                                    Licensed Content solely for your own non-commercial use.</span></p>

                            <p class="c2"><span class="c5">Any opinion, advice, statement, service, offer, or other
                                    information that constitutes part of the Licensed Content expressed or made available
                                    on the Website are those of the respective authors or producers and not of CoderBounty
                                    or its stockholders, directors, officers, employees, agents, representatives, partners,
                                    or affiliates.</span></p>

                            <p class="c2"><span class="c5">CoderBounty has not reviewed, and cannot review, all of
                                    the User Content posted by you or any third party to the Website and, as such, does not
                                    guarantee the accuracy, integrity, or quality of such content. You understand that by
                                    accessing the Website, you may be exposed to content that is harmful, offensive,
                                    indecent, objectionable, or inaccurate. Under no circumstances will CoderBounty or its
                                    stockholders, directors, officers, employees, agents, representatives, partners, or
                                    affiliates be held liable for any loss or damage caused by your reliance on information
                                    obtained through the Website. It is your responsibility to evaluate the information,
                                    opinions, advice, or other content available on the Website, and to seek qualified
                                    professional assistance as applicable.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Ownership</span></p>

                            <p class="c2"><span class="c5">We, our affiliates, and our suppliers and licensors own
                                    all right, title, and interest, including all intellectual property rights, in and to
                                    the CoderBounty Services. Except for those rights expressly granted in this Agreement,
                                    no other rights are granted, either express or implied, to you.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Assignment</span></p>

                            <p class="c2"><span class="c5">You may not transfer or assign any rights or obligations
                                    you have under this Agreement without CoderBounty's prior written consent. CoderBounty
                                    reserves the right to transfer or assign this Agreement or any right or obligation
                                    under this Agreement at any time.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Deleting your User</span></p>

                            <p class="c2"><span class="c5">You may end your use of the CoderBounty services by
                                    emailing CoderBounty at support@CoderBounty.com and requesting that your User be
                                    deleted. You cannot delete your User if you have any pending transactions, hold a
                                    balance with CoderBounty in any of your Accounts, or have an active CoderBounty Prepaid
                                    Visa&Acirc;&reg; Card.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Unauthorized Transactions</span></p>

                            <p class="c2"><span class="c5">If you believe your password has been lost or stolen,
                                    email CoderBounty IMMEDIATELY at support@CoderBounty.com.</span></p>

                            <p class="c2"><span class="c5">If your password is lost or stolen, you could lose all
                                    the money in your CoderBounty Account.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Restricted Activities</span></p>

                            <p class="c2"><span class="c5">The following uses are prohibited by the CoderBounty
                                    Terms of Service. Any Account found to be created for the following uses will be
                                    closed.</span></p>

                            <ol class="c8" start="1">
                                <li class="c7 c2"><span class="c5">Using the CoderBounty service while impersonating
                                        any person or entity, falsely claiming an affiliation with any person or
                                        entity.</span></li>

                                <li class="c7 c2"><span class="c5">Using the CoderBounty service to make unsolicited
                                        offers, advertisements, proposals, or send junk mail or spam to others. This
                                        includes, but is not limited to, unsolicited advertising, promotional materials, or
                                        other solicitation materials, bulk mailing of commercial advertising, chain mail,
                                        informational announcements, charity requests, and petitions for
                                        signature.</span></li>

                                <li class="c7 c2"><span class="c5">Using the CoderBounty Services for any illegal
                                        purpose, or in violation of any local, state, national, or international law,
                                        including, without limitation, laws governing intellectual property, taxation and
                                        other proprietary rights and data protection and privacy.</span></li>

                                <li class="c7 c2"><span class="c5">Using the CoderBounty service to defame, harass,
                                        abuse, threaten or defraud others, or collect, or attempt to collect, personal
                                        information about Users, Registered Recipients, or third parties without their
                                        consent.</span></li>

                                <li class="c7 c2"><span class="c5">Using the CoderBounty Services in any manner that
                                        could damage, disable, overburden, or impair it, including, without limitation, using
                                        the CoderBounty Service in an automated manner.</span></li>

                                <li class="c7 c2"><span class="c5">Using CoderBounty to intentionally interfere with
                                        User's or Registered Recipient's enjoyment of it, by any means, including uploading
                                        or otherwise disseminating viruses, adware, spyware, worms, or other malicious
                                        code.</span></li>

                                <li class="c7 c2"><span class="c5">Using CoderBounty that in any way assists you in
                                        violating any law, statute or ordinance.</span></li>

                                <li class="c7 c2"><span class="c5">Using Your Account or the CoderBounty Services in
                                        a manner that results in or may result in complaints, disputes, reversals,
                                        chargebacks, fees, fines, penalties and other liability to CoderBounty, a User, a
                                        third party or you.</span></li>
                            </ol>

                            <p class="c0"></p>

                            <p class="c2"><span class="c5">You agree that CoderBounty may seize or freeze funds
                                    that are reasonably deemed by CoderBounty to have resulted from fraud or a prohibited
                                    behavior outlined in this section.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Account Passwords and Registration</span></p>

                            <p class="c2"><span class="c5">You agree that the information you provide to
                                    CoderBounty upon registration and at all other times will be true, accurate, current,
                                    and complete. You also agree that you will ensure that this information is kept
                                    accurate and up-to-date at all times. If you have reason to believe that your Account
                                    is no longer secure (e.g., in the event of a loss, theft or unauthorized disclosure or
                                    use of your email address, Password, or any credit, debit or charge card number, if
                                    applicable), then you agree to notify CoderBounty immediately.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Third Party Sites, Products and Services;
                                    Links</span></p>

                            <p class="c2"><span class="c5">The CoderBounty Services may include links or references
                                    to other web sites or services solely as a convenience to Users
                                    (&acirc;&euro;&oelig;Reference Sites&acirc;&euro;). CoderBounty does not endorse any
                                    such Reference Sites or the information, materials, products, or services contained on
                                    or accessible through Reference Sites. In addition, your correspondence or business
                                    dealings with, or participation in promotions of, advertisers found on or through
                                    CoderBounty are solely between you and such advertiser. ACCESS AND USE OF REFERENCE
                                    SITES, INCLUDING THE INFORMATION, MATERIALS, PRODUCTS, AND SERVICES ON OR AVAILABLE
                                    THROUGH REFERENCE SITES IS SOLELY AT YOUR OWN RISK.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Taxes</span></p>

                            <p class="c2"><span class="c5">It is your responsibility to determine what, if any,
                                    taxes apply to the payments you make or receive, and it is your responsibility to
                                    collect, report and remit the correct tax to the appropriate tax authority. CoderBounty
                                    is not responsible for determining whether taxes apply to your transaction, or for
                                    collecting, reporting or remitting any taxes arising from any transaction. You
                                    acknowledge that CoderBounty will report to the Internal Revenue Service the total
                                    amount of payments for goods and services you receive each calendar year into all the
                                    Accounts you own if you receive into these Accounts (i) more than $20,000 in payments
                                    for goods or services, and (ii) receive more than 200 payments for goods or services,
                                    in the same calendar year.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Termination; Agreement Violations</span></p>

                            <p class="c2"><span class="c5">If we have reason to believe that you have engaged in
                                    any Restricted Activities, we may take various actions to protect CoderBounty, a User,
                                    a third party, or you from Reversals, fees, fines, penalties and any other liability.
                                    The actions we may take include but are not limited to the following:</span></p>

                            <ol class="c8" start="1">
                                <li class="c7 c2"><span class="c5">Close, suspend, or limit your access to your
                                        CoderBounty Account or CoderBounty Services</span></li>

                                <li class="c7 c2"><span class="c5">Update inaccurate Information you provided
                                        us;</span></li>

                                <li class="c7 c2"><span class="c5">Refuse to provide our Services to you in the
                                        future;</span></li>

                                <li class="c7 c2"><span class="c5">take legal action against you.</span></li>
                            </ol>

                            <p class="c2"><span class="c5">You agree that CoderBounty, in its sole discretion, for
                                    any or no reason, and without penalty, may suspend or terminate your User (or any part
                                    thereof) or your use of the CoderBounty Services and remove and discard all or any part
                                    of your User at any time. CoderBounty may also in its sole discretion and at any time
                                    discontinue providing access to the CoderBounty Services, or any part thereof, with or
                                    without notice.</span></p>

                            <p class="c2"><span class="c5">You agree that any termination of Your access to the
                                    CoderBounty Services or any Account you may have or portion thereof may be effected
                                    without prior notice, and you agree that CoderBounty will not be liable to you or any
                                    third party for any such termination. Any suspected fraudulent, abusive or illegal
                                    activity may be referred to appropriate law enforcement authorities. These remedies are
                                    in addition to any other remedies CoderBounty may have at law or in equity. Upon
                                    termination for any reason, you agree to immediately stop using the CoderBounty
                                    Services.</span></p>

                            <p class="c2"><span class="c5">If your User is dormant for over 1 year, CoderBounty may
                                    close Your User and send any balance held in your Accounts to you by check to the
                                    address on record, less any applicable fees. CoderBounty may also be required to
                                    escheat to the applicable state government balances on dormant accounts or unclaimed
                                    funds from time to time.</span></p>

                            <p class="c2"><span class="c5">You may terminate this Agreement at any time by
                                    providing written notice to CoderBounty, discontinuing use of any and all parts of the
                                    CoderBounty Services, and returning to the issuing financial institution any
                                    CoderBounty Prepaid Visa&Acirc;&reg; Card that had been issued to you. You are
                                    responsible for use of your Account and Password after termination.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Indemnification</span></p>

                            <p class="c2"><span class="c5">You agree to indemnify, defend, save, and hold
                                    CoderBounty, its contractors, employees, agents and its third party suppliers
                                    (including without limitation The Bancorp Bank), licensors, and partners harmless from
                                    any and all claims, losses, damages, and liabilities, costs and expenses, including
                                    without limitation legal fees and expenses, arising out of or related to your use or
                                    misuse of the CoderBounty Services, any violation by you of this Agreement, or any
                                    breach of the representations, warranties, and covenants made by you herein.
                                    CoderBounty reserves the right, at your expense, to assume the exclusive defense and
                                    control of any matter for which you are required to indemnify CoderBounty, including
                                    rights to settle, and you agree to cooperate with CoderBounty's defense and settlement
                                    of these claims. CoderBounty will use reasonable efforts to notify you of any claim,
                                    action, or proceeding brought by a third party that is subject to the foregoing
                                    indemnification upon becoming aware of it.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Liability of CoderBounty</span></p>

                            <p class="c2"><span class="c5">IN NO EVENT SHALL CoderBounty, its EMPLOYEES OR
                                    SUPPLIERS BE LIABLE FOR LOST PROFITS OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL
                                    DAMAGES ARISING OUT OF OR IN CONNECTION WITH OUR WEBSITE, OUR SERVICES, OR THIS
                                    AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE), UNLESS OTHERWISE REQUIRED BY LAW.
                                    CoderBounty'S LIABILITY, AND THE LIABILITY OF CoderBounty'S EMPLOYEES AND SUPPLIERS, TO
                                    YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE ACTUAL AMOUNT OF DIRECT
                                    DAMAGES.</span></p>

                            <p class="c2"><span class="c5">If CoderBounty does not complete a payment to or from
                                    you on time or in the correct amount according to this Agreement, CoderBounty may be
                                    liable for your losses or damages to the extent required by law. However, there are
                                    some circumstances where CoderBounty is not liable. CoderBounty will not be liable, for
                                    instance:</span></p>

                            <ol class="c8" start="1">
                                <li class="c7 c2"><span class="c5">If, through no fault of CoderBounty's, you do not
                                        have access to enough money via your CoderBounty balance or Payment Source to make
                                        the payment.</span></li>

                                <li class="c7 c2"><span class="c5">If the funds in your CoderBounty balance are
                                        subject to legal process or other encumbrance restricting their use.</span></li>

                                <li class="c7 c2"><span class="c5">If the CoderBounty website or system was not
                                        working properly and you knew about the breakdown when you initiated the
                                        payment.</span></li>

                                <li class="c7 c2"><span class="c5">If circumstances beyond CoderBounty's control
                                        (such as fire or flood, or actions of a third party) prevent the transfer, despite
                                        reasonable precautions that CoderBounty has taken.</span></li>

                                <li class="c7 c2"><span class="c5">If the failure results from a communications
                                        failure, such as the failure to complete a data transmission accurately.</span></li>

                                <li class="c7 c2"><span class="c5">If the failure results from a failure of a
                                        financial institution that holds the Bank Account or issues the credit card or debit
                                        card linked to your Account, or CoderBounty is unable to access any Payment Source
                                        for any reason other than due to CoderBounty's fault.</span></li>

                                <li class="c7 c2"><span class="c5">If You provided inaccurate or incomplete
                                        information regarding the payment.</span></li>

                                <li class="c7 c2"><span class="c5">If the payment appears suspicious, fraudulent or
                                        unauthorized, and CoderBounty cannot confirm that it is a legitimate transfer, or if
                                        the transfer is (or appears to be) prohibited by law or rules.</span></li>

                                <li class="c7 c2"><span class="c5">There may be other exceptions stated in this
                                        Agreement.</span></li>
                            </ol>

                            <p class="c2"><span class="c5">CoderBounty is not responsible for the actions of the
                                    persons to whom you send a payment, or from whom you receive a payment.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">No Warranties</span></p>

                            <p class="c2"><span class="c5">CoderBounty</span><span class="c5">, ITS EMPLOYEES AND
                                    SUPPLIERS PROVIDE THE CoderBounty SERVICES &acirc;&euro;&oelig;AS IS&acirc;&euro; AND
                                    WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. CoderBounty, OUR
                                    EMPLOYEES AND OUR SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE,
                                    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</span></p>

                            <p class="c2"><span class="c5">CoderBounty does not guarantee continuous, uninterrupted
                                    or secure access to any part of our Service, and operation of our site may be
                                    interfered with by numerous factors outside of our control. CoderBounty will make
                                    reasonable efforts to ensure that requests for electronic debits and credits involving
                                    bank accounts and check issuances are processed in a timely manner but CoderBounty
                                    makes no representations or warranties regarding the amount of time needed to complete
                                    processing because the CoderBounty Service is dependent upon many factors outside of
                                    our control, such as delays in the banking system or the U.S. or international mail
                                    service. Some states do not allow the disclaimer of implied warranties, so the
                                    foregoing disclaimers may not apply to you. This paragraph gives you specific legal
                                    rights and you may also have other legal rights that vary from state to
                                    state.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Feedback</span></p>

                            <p class="c2"><span class="c5">If you provide feedback to us regarding the CoderBounty
                                    Service (&acirc;&euro;&oelig;</span> <span class="c4">Feedback</span> <span class=
                                                                                                            "c5">&acirc;&euro;), you authorize us to use that Feedback without restriction and
                                    without payment to you. Accordingly, you hereby grant to us perpetual and irrevocable
                                    license to use the Feedback for any purpose.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Modification of this Agreement</span></p>

                            <p class="c2"><span class="c5">CoderBounty</span> <span class="c5">reserves the right
                                    to change, modify, add, or remove portions of this Agreement (each, a "change") at any
                                    time by posting notification to the CoderBounty website or otherwise communicating the
                                    notification to you. The changes will become effective, and shall be deemed accepted by
                                    You, 24 hours after the initial posting and shall apply on a going-forward basis with
                                    respect to payment transactions initiated after the posting date. If you do not agree
                                    with any such modification, your sole and exclusive remedy is to terminate your use of
                                    the CoderBounty Services. For certain changes, CoderBounty may be required to give you
                                    advance notice, and CoderBounty will comply with such requirements.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Notice</span></p>

                            <p class="c2"><span class="c5">CoderBounty</span> <span class="c5">may provide you with
                                    notices and communications by email, regular mail or postings on the CoderBounty
                                    website or by any other reasonable means.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Waiver</span></p>

                            <p class="c2"><span class="c5">The failure of CoderBounty to exercise or enforce any
                                    right or provision of this Agreement will not constitute a waiver of such right or
                                    provision. Any waiver of any provision of this Agreement will be effective only if in
                                    writing and signed by CoderBounty.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Governing Law</span></p>

                            <p class="c2"><span class="c5">This Agreement be governed by and construed in
                                    accordance with the laws of the State of Delaware, without giving effect to any
                                    principles of conflicts of law.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Disputes with CoderBounty</span></p>

                            <p class="c2"><span class="c5">If a dispute arises between you and CoderBounty, our
                                    goal is to learn about and address your concerns and, if we are unable to do so to your
                                    satisfaction, to provide you with a neutral and cost effective means of resolving the
                                    dispute quickly.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Arbitration</span></p>

                            <p class="c2"><span class="c5">Any Claim between you and us shall be resolved, upon the
                                    election of either you or us, by binding arbitration administered by the American
                                    Arbitration Association ("AAA") or the National Arbitration Forum ("NAF"), under its
                                    rules applicable to consumer disputes ("Rules"). You can obtain the Rules and other
                                    information about initiating arbitration by contacting the AAA at 335 Madison Avenue,
                                    New York, NY 10017, or at</span> <span class="c1"><a class="c6" href=
                                                                                     "http://www.adr.org/">www.adr.org</a></span> <span class="c5">, or the NAF at P.O. Box
                                    50191, Minneapolis, MN 55405, or at</span><span class="c1"><a class="c6" href=
                                                                                              "http://www.adrforum.com/">www.adrforum.com</a></span> <span class="c5">.</span></p>

                            <p class="c2"><span class="c5">If you file a Claim, you can chose either the AAA or the
                                    NAF as Administrator; if we file a Claim, we will make the initial selection but you
                                    can require us to use either the AAA or the NAF by providing us written notice within
                                    30 days of your receipt of notice of the Claim. Claims will be arbitrated by a single,
                                    neutral arbitrator, who shall be a retired judge or a lawyer with at least ten years
                                    experience. We agree not to invoke our right to elect arbitration of an individual
                                    Claim filed by you in a small claims or similar court (if any), so long as the Claim is
                                    pending on an individual basis only in such court.</span></p>

                            <p class="c2"><span class="c5">We will pay all filing and administration fees charged
                                    by the Administrator and arbitrator fees up to $1,000, and we will consider your
                                    request to pay any additional arbitration costs. If an arbitrator issues an award in
                                    our favor, you will not be required to reimburse us for any fees we have previously
                                    paid to the Administrator or for which we are responsible. If you receive an award from
                                    the arbitrator, we will reimburse you for the fees paid by you to the Administrator.
                                    Each party shall bear its own attorney's, expert's and witness fees, which shall not be
                                    considered costs of arbitration; however, if a statute gives you the right to recover
                                    these fees, or fees paid to the Administrator, then these statutory rights will apply
                                    in arbitration.</span></p>

                            <p class="c2"><span class="c5">Any in-person arbitration hearing will be held in the
                                    city with the federal district court closest to your residence, or in such other
                                    location as the parties may mutually agree. The arbitrator shall apply applicable
                                    substantive law consistent with the Federal Arbitration Act, 9 U.S.C. ' 1-16, and, if
                                    requested by either party, provide written reasoned findings of fact and conclusions of
                                    law. The arbitrator shall have the power to award any relief authorized under
                                    applicable law. The arbitrator's award shall be final, except for any appeal that may
                                    be permitted under the Federal Arbitration Act. Judgment on any award rendered by the
                                    arbitrator may be entered in and enforced by any court having jurisdiction
                                    thereof.</span></p>

                            <p class="c2"><span class="c5">Neither you nor we shall have the right to participate
                                    as a representative or member of any class of claimants in arbitration, and you and we
                                    further agree that claims of third parties shall not be joined in any arbitration
                                    between you and us, without the express written consent of both you and us. The
                                    validity and effect of this paragraph shall be determined exclusively by a court, and
                                    not by the Administrator or any arbitrator. The arbitrator shall have not power to
                                    arbitrate any Claims on a class action basis or Claims brought in a purported
                                    representative capacity on behalf of the general public, other Users, or other persons
                                    similarly situated.</span></p>

                            <p class="c2"><span class="c5">If any portion of this Arbitration section is deemed
                                    invalid or unenforceable for any reason, it shall not invalidate the remaining portions
                                    of this provision. However, if the section precluding class actions is deemed invalid
                                    or unenforceable in whole or in part, then this entire Arbitration section shall be
                                    deemed invalid and unenforceable. The terms of this Arbitration section will prevail if
                                    there is any conflict between the Rules and this provision.</span></p>

                            <p class="c2"><span class="c5">THE PARTIES ACKNOWLEDGE AND AGREE THAT, EXCEPT AS
                                    EXPRESSLY PROVIDED IN THIS RESOLUTION OF DISPUTES PROVISION, THEY ARE WAIVING ALL
                                    RIGHTS TO A TRIAL BY COURT OR JURY AS A MEANS OF RESOLVING ANY DISPUTES ARISING OUT OF
                                    OR RELATING TO THIS AGREEMENT. THEY ACKNOWLEDGE THAT ARBITRATION WILL LIMIT THEIR LEGAL
                                    RIGHTS, INCLUDING THE RIGHTS TO PARTICIPATE IN A CLASS ACTION, THE RIGHT TO A JURY
                                    TRIAL, THE RIGHT TO CONDUCT FULL DISCOVERY, AND THE RIGHT TO APPEAL (EXCEPT AS
                                    PERMITTED UNDER THE FEDERAL ARBITRATION ACT).</span></p>

                            <p class="c2"><span class="c5">You may reject this Arbitration section, in which case
                                    neither you nor we will have the right to elect arbitration. Rejection of this
                                    provision will not effect the remaining parts of this Agreement. To reject this
                                    Arbitration section, you must send us written notice of your rejection within 30 days
                                    after the date that you first became a CoderBounty User. You must include your name,
                                    address, and email address.</span></p>

                            <p class="c2"><span class="c5">The parties acknowledge and agree that this arbitration
                                    agreement is made pursuant to a transaction involving interstate commerce and shall be
                                    governed by the Federal Arbitration Act. This Arbitration section shall survive the
                                    termination of this Agreement.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Release of CoderBounty</span></p>

                            <p class="c2"><span class="c5">If you have a dispute with one or more Users, you
                                    release CoderBounty, its officers, directors, agents, joint ventures and employees from
                                    any and all claims, demands and damages (actual and consequential) of every kind and
                                    nature arising out of or in any way connected with such disputes.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Severability</span></p>

                            <p class="c2"><span class="c5">If any provision of this Agreement or any Guidelines is
                                    held to be unlawful, void, invalid or otherwise unenforceable, then that provision will
                                    be limited or eliminated from this Agreement to the minimum extent required, and the
                                    remaining provisions will remain valid and enforceable.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Survival</span></p>

                            <p class="c2"><span class="c5">Upon termination of this Agreement, any provision which,
                                    by its nature or express terms should survive, will survive such termination or
                                    expiration as applied to transfers and relationship prior to such termination or
                                    expiration.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Headings</span></p>

                            <p class="c2"><span class="c5">The heading references herein are for convenience
                                    purposes only, do not constitute a part of these Terms, and will not be deemed to limit
                                    or affect any of the provisions hereof.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Entire Agreement</span></p>

                            <p class="c2"><span class="c5">This Agreement sets forth the entire understanding
                                    between you and CoderBounty with respect to the CoderBounty Services.</span></p>

                            <p class="c0"></p>

                            <p class="c2"><span class="c4">Contacting CoderBounty</span></p>

                            <p class="c2"><span class="c5">If you have any questions or concerns about this
                                    Agreement, the CoderBounty website, or any Service, please send us a thorough
                                    description by email to <a href="mailto:support@CoderBounty.com">support@CoderBounty.com</a>.</span></p>
                        </div>
                    </div>
                </div>
                <span class="bugfix-bottom"></span>
            </section>
        </div>
    </div>
</div>

{% endblock  %}
